label {
	display: block;
}
span {
	display: block;
}

[name="driver_view"] [type="text"] {
	/*width: 100%;*/
}

[name="edit_transport"]  input[type="text"],
[name="edit_driver"]  input[type="text"]{
	width: 100%;
}
[name="edit_transport"] td,
[name="edit_driver"] td {
	width: 10%;
}