label {
	display: block;
}
span {
	display: block;
}

[name="birthdate_upd"] {  width: 5em;  }
[name="open_category_upd"] {  width: 5em;  }
[name="license_upd"] {  width: 5em;  }

[name="id_upd"] {  width: 2em;  }
[name="phone_number_upd"] {  width: 6em;  }
[name="status_upd"] {  width: 5em;  }
[name="bus_binding_upd"] {  width: 3em;  }
[name="company_id_upd"] {  width: 3em;  }