body {
	font-family: 'Open Sans', sans-serif;
}

label {
	display: block;
}
span {
	display: block;
}

[name="driver_view"] [type="text"] {
	/*width: 100%;*/
}

[name="edit_transport"]  input[type="text"],
[name="edit_driver"]  input[type="text"]{
	width: 100%;
}
[name="edit_transport"] td,
[name="edit_driver"] td {
	width: 10%;
}

[name="search"] {
	margin-bottom: 25px;
}
[name="search"] label {
	display: inline;
	font-size: 12px;
}

[name="search"] label:first-of-type [type="radio"] {
	margin-left: 0;
}

[name="search"] [type="radio"] {
	vertical-align: middle;
	margin: 0;
	margin-left: 15px;
}