<%include ../layout.ejs %>

<form name="add_driver" actioin="/add_driver" method="post" enctype="">
<label>
		<span>name</span>
		<input type="text" name="name"/>
	</label>

	<!--
	<label>
		<span>surname</span>
		<input type="text" name="surname"/>
	</label>

	<label>
		<span>patronymic</span>
		<input type="text" name="patronymic"/>
	</label>

	<label>
		<span>birthdate</span>
		<input type="text" name="birthdate"/>
	</label>

	<label>
		<span>open category</span>
		<input type="text" name="open_category"/>
	</label>

	<label>
		<span>License</span>
		<input type="text" name="license"/>
	</label>

	<label>
		<span>Photo</span>
		<input type="text" name="photo" />
	</label>

	<label>
		<span>Phone</span>
		<input type="text" name="phone_number"/>
	</label>

	<label>
		<span>Comment</span>
		<textarea name="comment"></textarea>
	</label>

	<label>
		<span>Status</span>
		<input type="text" name="status"/>
	</label>

	<label>
		<span>Bus binding</span>
		<input type="text" name="bus_binding"/>
	</label>

	<label>
		<span>Company ID</span>
		<input type="text" name="company_id"/>
	</label>
		-->

	<input type="submit" value="submit" />
</form>

<%include ../partials/foot.ejs %>