<%include ../layout.ejs %>

	<a href="/drivers">Drivers</a>
	<a href="/transport">Transport</a>

	<form action="simple" method="post">
		<input type="text" name="name">
		<input type="submit" value="ok">
	</form>

<% include ../partials/foot.ejs %>