.filter {
  line-height: 45px;
  margin-right: 34px;
}
.filter a {
  line-height: 100%;
}
.filter,
.filter + form {
  float: left;
}
.row > .left {
  padding-right: 40px;
}
.media {
  margin-top: 33px;
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .media.big img {
    width: 300px;
  }
}
@media all and (min-width: 992px) and (max-width: 1050px) {
  .media.big img {
    width: 141px;
  }
}
.media.sel h4 {
  color: #ff5607;
}
.media h4 {
  font-size: 18px;
  color: #292a2f;
  margin-bottom: 11px;
}
.media p {
  font-size: 14px;
  color: #282828;
  line-height: 16px;
}
.media .inner {
  padding-top: 23px;
}
.media .media-left {
  padding-right: 27px;
}
.media.active {
  background: #e9edf0;
}
.btn-orange.show-more {
  margin: 45px auto 145px 169px;
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .title_box_right {
    top: 12px;
  }
  .filter {
    display: block !important;
    float: none !important;
  }
}
@media only screen and (min-width: 1px) and (max-width: 992px) {
  .title_box_padd {
    padding: 0 15px 25px !important;
  }
  .title_box .title_box_right {
    right: 15px;
    bottom: -65px;
  }
  .title_box .title_box_right form {
    display: none;
  }
  .title_box .title_box_right .filter {
    float: none;
    width: 100%;
  }
  .row.news > .left {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .row.news > .right {
    display: none;
  }
  .title_box_right {
    left: 15px;
    right: 0;
  }
  .title_box_right .filter a {
    display: none;
  }
  .title_box_right .sell_orange {
    display: block;
    margin: 0;
    line-height: 36px;
    margin-top: 3px;
  }
  .title_box_right form {
    float: right;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .sell_orange {
    background-color: #ffffff !important;
  }
  .media-left {
    display: block;
  }
  .media-body {
    padding: 0 10px;
  }
  .media-body p {
    font-size: 13px;
  }
  .media.big .media-body {
    padding-bottom: 22px;
  }
  .date {
    font-size: 12px;
  }
}
.row.service > .left {
  width: 445px;
  padding-right: 0;
}
.row.service > .left + .right {
  width: calc(100% - 445px);
  padding-left: 64px;
}
.content_box .title_box {
  margin-bottom: 3px;
}
.panel-group {
  padding-top: 38px;
  background: #ffaa2d;
}
.panel-group .panel-default {
  background: none;
  border: none;
}
.panel-group .panel-default .panel-heading {
  background: none;
  border-top: none;
  border-bottom-color: #f1852b;
  border-radius: 0;
  padding-left: 28px !important;
  padding: 12.5px 15px;
}
.panel-group .panel-default .panel-heading .badge {
  color: white;
  border-radius: 0;
  background-color: transparent;
}
.panel-group .panel-default .panel-title > a {
  font-size: 18px;
  color: #282828;
  text-decoration: none;
}
.panel-group .panel-default .panel-collapse {
  background: #292a2f;
  color: white;
}
.panel-group .panel-default .panel-collapse ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel-group .panel-default .panel-collapse ul li {
  position: relative;
  padding: 12.5px 15px;
  line-height: 23px;
}
.panel-group .panel-default .panel-collapse ul li.active:before {
  content: '';
  position: absolute;
  width: calc(100% + 30px);
  width: -webkit-calc(100% + 30px);
  height: 38px;
  background: #fd7e01;
  top: 7px;
  left: -15px;
}
.panel-group .panel-default .panel-collapse ul li.active:after {
  content: '';
  position: absolute;
  right: -33px;
  top: 7px;
  background: url('../img/carous-arr.png') no-repeat;
  width: 18px;
  height: 38px;
}
.panel-group .panel-default .panel-collapse ul li a {
  font-size: 16px;
  position: relative;
  color: white;
  text-decoration: none;
}
.panel-group .panel-default .panel-collapse .panel-body {
  border: none !important;
}
.panel-group .cap {
  background: #ffc672;
  padding-left: 26px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.14);
}
.panel-group .cap h2 {
  text-transform: none;
  font-size: 30px;
  color: #282828;
  margin: 0;
  padding: 15px 0;
}
.right .inner {
  padding-left: 19px;
}
.right h3 {
  font-size: 30px;
  color: #282828;
  border-bottom: 2px solid;
  padding-left: 6px;
}
.right h3 i {
  background: url('../img/orange-close.png') no-repeat;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-top: 10px;
  margin-right: 33px;
}
.right span {
  font-size: 22px;
  color: black;
  font-weight: 600;
  display: inline-block;
  margin: 20px 0;
}
.right img {
  margin-bottom: 15px;
  margin-right: 12px;
}
.right img.first {
  width: 100%;
}
.right img:last-of-type {
  margin-bottom: 28px;
  vertical-align: top;
}
.right p {
  font-size: 14px;
  color: #535d67;
  line-height: 16px;
}
.right a.read-more {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px dashed;
  margin-bottom: 36px;
}
.right a.btn-orange {
  margin-left: 0;
  margin-bottom: 25px;
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .right h3 {
    position: relative;
  }
  .right h3 i {
    position: absolute;
    right: 0;
    margin: 0;
    top: 60px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 992px) {
  .row > .left {
    width: 50%;
  }
  .row > .left + .right {
    width: 50%;
    display: block;
    padding-left: 35px;
  }
  .row > .left + .right .inner {
    padding-left: 0;
  }
  .right h3 {
    font-size: 22px;
    border: none;
    padding-left: 0;
  }
  .right h3 i {
    margin-top: 0;
    margin-right: 0;
  }
  .right p {
    font-size: 13px;
  }
  .content_box {
    padding-bottom: 0;
  }
  span.price {
    margin-top: 0;
    font-size: 16px;
  }
  .cap h2 {
    font-size: 22px !important;
  }
  .panel-group .panel-default .panel-collapse ul li.active:after {
    display: none;
  }
  .panel-group .panel-default .panel-title a,
  .panel-group .panel-default .panel-collapse ul li a {
    font-size: 15px;
  }
  .badge {
    font-size: 13px !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .row > .left {
    width: 100%;
  }
  .row > .left + .right {
    width: 100%;
    padding-left: 15px;
  }
  .right h3 i {
    display: none;
  }
  .right .price {
    margin-top: 15px;
  }
  .right p,
  .right h3,
  .right span,
  .right a {
    padding: 0 8px;
  }
  .right a.btn-orange {
    width: calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    display: inline-block;
    padding: 0 37px;
    margin-left: 10px;
  }
  .right img.first {
    opacity: 0.5;
  }
  .right img.first ~ img {
    width: 28.333333%;
    margin: 0 4px 0 8px;
  }
}
body {
  color: inherit;
}
.job {
  margin-top: 40px;
  padding-bottom: 40px;
}
.vacancy {
  margin-bottom: 40px;
}
.vacancy:after {
  content: '';
  display: block;
  clear: both;
}
.vacancy img {
  float: left;
}
.vacancy h2 {
  margin-top: 7px;
  padding: 0;
}
.vacancy h3 {
  font-size: 16px;
  color: #ff8200;
  padding: 0;
}
.vacancy ul {
  margin-left: 31px;
}
.vacancy div {
  position: relative;
  width: calc(100% - 380px);
  width: -webkit-calc(100% - 380px);
  display: inline-block;
  padding-left: 46px;
}
.vacancy div:after {
  content: '';
  position: absolute;
  right: -44px;
  top: 0;
  height: 166px;
  width: 1px;
  background: #cccccc;
}
.vacancy div h2 {
  color: #ff8200;
  font-size: 22px;
  margin-bottom: 8px;
}
.vacancy div p {
  font-size: 14px;
  color: #292a2f;
  line-height: 16px;
  padding-bottom: 24px;
}
.vacancy div a {
  text-transform: uppercase;
}
.vacancy div + a {
  float: right;
}
.one_jobs {
  border-top: 1px solid #ccc;
}
.one_jobs p {
  color: #292a2f;
}
.one_jobs_box:after {
  background: #ccc;
}
.title_box_right a {
  font-size: 18px;
  color: #ff8200;
  text-decoration: none;
  padding: 0 5px 5px;
  display: inline-block;
}
.title_box_right a.active {
  border-bottom: 3px solid #fd7e01;
  color: #000;
}
.one-col {
  padding: 0 15px;
}
.left {
  width: calc(100% - 274px);
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.left + .right {
  width: 274px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.left + .right.banner {
  padding: 0;
}
.content_box.custom {
  padding-right: 15px;
}
form button.orange {
  background: none;
  border: none;
  margin: 8px 0 0 2px;
}
form button.orange span {
  display: block;
  width: 100%;
  height: 34px;
  background: #ff8200;
  line-height: 34px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 17px;
}
form.short .dTypo {
  display: inline-block;
}
form.short [type="text"] {
  width: 202px;
  height: 34px;
}
.btn-orange {
  display: block;
  height: 64px;
  width: 368px;
  background: #ff8200;
  margin: 62px auto 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 64px;
}
.btn-orange.white {
  font-size: 12px;
  background: #ffffff;
  border: 2px solid #ff8200;
  color: #ff8200;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 35px;
  height: 35px;
  padding: 0 25px;
  width: auto;
  display: inline-block;
}
.btn-orange:hover {
  background: #f28f28;
  color: white;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .btn-orange.show-more {
    width: auto;
    display: inline-block;
    padding: 0 37px;
    margin-left: 10px;
  }
}
