.filter {
  line-height: 45px;
  margin-right: 34px;
}
.filter a {
  line-height: 100%;
}
.filter,
.filter + form {
  float: left;
}
.row > .left {
  padding-right: 40px;
}
.media {
  margin-top: 33px;
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .media.big img {
    width: 300px;
  }
}
@media all and (min-width: 992px) and (max-width: 1050px) {
  .media.big img {
    width: 141px;
  }
}
.media.sel h4 {
  color: #ff5607;
}
.media h4 {
  font-size: 18px;
  color: #292a2f;
  margin-bottom: 11px;
}
.media p {
  font-size: 14px;
  color: #282828;
  line-height: 16px;
}
.media .inner {
  padding-top: 23px;
}
.media .media-left {
  padding-right: 27px;
}
.media.active {
  background: #e9edf0;
}
.btn-orange.show-more {
  margin: 45px auto 145px 169px;
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .title_box_right {
    top: 12px;
  }
  .filter {
    display: block !important;
    float: none !important;
  }
}
@media only screen and (min-width: 1px) and (max-width: 992px) {
  .title_box_padd {
    padding: 0 15px 25px !important;
  }
  .title_box .title_box_right {
    right: 15px;
    bottom: -65px;
  }
  .title_box .title_box_right form {
    display: none;
  }
  .title_box .title_box_right .filter {
    float: none;
    width: 100%;
  }
  .row.news > .left {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .row.news > .right {
    display: none;
  }
  .title_box_right {
    left: 15px;
    right: 0;
  }
  .title_box_right .filter a {
    display: none;
  }
  .title_box_right .sell_orange {
    display: block;
    margin: 0;
    line-height: 36px;
    margin-top: 3px;
  }
  .title_box_right form {
    float: right;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .sell_orange {
    background-color: #ffffff !important;
  }
  .media-left {
    display: block;
  }
  .media-body {
    padding: 0 10px;
  }
  .media-body p {
    font-size: 13px;
  }
  .media.big .media-body {
    padding-bottom: 22px;
  }
  .date {
    font-size: 12px;
  }
}
.row.service > .left {
  width: 445px;
  padding-right: 0;
}
.row.service > .left + .right {
  width: calc(100% - 445px);
  padding-left: 64px;
}
.content_box .title_box {
  margin-bottom: 3px;
}
.panel-group {
  padding-top: 38px;
  background: #ffaa2d;
}
.panel-group .panel-default {
  background: none;
  border: none;
}
.panel-group .panel-default .panel-heading {
  background: none;
  border-top: none;
  border-bottom-color: #f1852b;
  border-radius: 0;
  padding-left: 28px !important;
  padding: 12.5px 15px;
}
.panel-group .panel-default .panel-heading .badge {
  color: white;
  border-radius: 0;
  background-color: transparent;
}
.panel-group .panel-default .panel-title > a {
  font-size: 18px;
  color: #282828;
  text-decoration: none;
}
.panel-group .panel-default .panel-collapse {
  background: #292a2f;
  color: white;
}
.panel-group .panel-default .panel-collapse ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel-group .panel-default .panel-collapse ul li {
  position: relative;
  padding: 12.5px 15px;
  line-height: 23px;
}
.panel-group .panel-default .panel-collapse ul li.active:before {
  content: '';
  position: absolute;
  width: calc(100% + 30px);
  width: -webkit-calc(100% + 30px);
  height: 38px;
  background: #fd7e01;
  top: 7px;
  left: -15px;
}
.panel-group .panel-default .panel-collapse ul li.active:after {
  content: '';
  position: absolute;
  right: -33px;
  top: 7px;
  background: url('../img/carous-arr.png') no-repeat;
  width: 18px;
  height: 38px;
}
.panel-group .panel-default .panel-collapse ul li a {
  font-size: 16px;
  position: relative;
  color: white;
  text-decoration: none;
}
.panel-group .panel-default .panel-collapse .panel-body {
  border: none !important;
}
.panel-group .cap {
  background: #ffc672;
  padding-left: 26px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.14);
}
.panel-group .cap h2 {
  text-transform: none;
  font-size: 30px;
  color: #282828;
  margin: 0;
  padding: 15px 0;
}
.right .inner {
  padding-left: 19px;
}
.right h3 {
  font-size: 30px;
  color: #282828;
  border-bottom: 2px solid;
  padding-left: 6px;
}
.right h3 i {
  background: url('../img/orange-close.png') no-repeat;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-top: 10px;
  margin-right: 33px;
}
.right span {
  font-size: 22px;
  color: black;
  font-weight: 600;
  display: inline-block;
  margin: 20px 0;
}
.right img {
  margin-bottom: 15px;
  margin-right: 12px;
}
.right img.first {
  width: 100%;
}
.right img:last-of-type {
  margin-bottom: 28px;
  vertical-align: top;
}
.right p {
  font-size: 14px;
  color: #535d67;
  line-height: 16px;
}
.right a.read-more {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px dashed;
  margin-bottom: 36px;
}
.right a.btn-orange {
  margin-left: 0;
  margin-bottom: 25px;
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .right h3 {
    position: relative;
  }
  .right h3 i {
    position: absolute;
    right: 0;
    margin: 0;
    top: 60px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 992px) {
  .row > .left {
    width: 50%;
  }
  .row > .left + .right {
    width: 50%;
    display: block;
    padding-left: 35px;
  }
  .row > .left + .right .inner {
    padding-left: 0;
  }
  .right h3 {
    font-size: 22px;
    border: none;
    padding-left: 0;
  }
  .right h3 i {
    margin-top: 0;
    margin-right: 0;
  }
  .right p {
    font-size: 13px;
  }
  .content_box {
    padding-bottom: 0;
  }
  span.price {
    margin-top: 0;
    font-size: 16px;
  }
  .cap h2 {
    font-size: 22px !important;
  }
  .panel-group .panel-default .panel-collapse ul li.active:after {
    display: none;
  }
  .panel-group .panel-default .panel-title a,
  .panel-group .panel-default .panel-collapse ul li a {
    font-size: 15px;
  }
  .badge {
    font-size: 13px !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .row > .left {
    width: 100%;
  }
  .row > .left + .right {
    width: 100%;
    padding-left: 15px;
  }
  .right h3 i {
    display: none;
  }
  .right .price {
    margin-top: 15px;
  }
  .right p,
  .right h3,
  .right span,
  .right a {
    padding: 0 8px;
  }
  .right a.btn-orange {
    width: calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    display: inline-block;
    padding: 0 37px;
    margin-left: 10px;
  }
  .right img.first {
    opacity: 0.5;
  }
  .right img.first ~ img {
    width: 28.333333%;
    margin: 0 4px 0 8px;
  }
}
body {
  color: inherit;
}
.job {
  margin-top: 40px;
  padding-bottom: 40px;
}
.vacancy {
  margin-bottom: 40px;
}
.vacancy:after {
  content: '';
  display: block;
  clear: both;
}
.vacancy img {
  float: left;
}
.vacancy h2 {
  margin-top: 7px;
  padding: 0;
}
.vacancy h3 {
  font-size: 16px;
  color: #ff8200;
  padding: 0;
}
.vacancy ul {
  margin-left: 31px;
}
.vacancy div {
  position: relative;
  width: calc(100% - 380px);
  width: -webkit-calc(100% - 380px);
  display: inline-block;
  padding-left: 46px;
}
.vacancy div:after {
  content: '';
  position: absolute;
  right: -44px;
  top: 0;
  height: 166px;
  width: 1px;
  background: #cccccc;
}
.vacancy div h2 {
  color: #ff8200;
  font-size: 22px;
  margin-bottom: 8px;
}
.vacancy div p {
  font-size: 14px;
  color: #292a2f;
  line-height: 16px;
  padding-bottom: 24px;
}
.vacancy div a {
  text-transform: uppercase;
}
.vacancy div + a {
  float: right;
}
.one_jobs {
  border-top: 1px solid #ccc;
}
.one_jobs p {
  color: #292a2f;
}
.one_jobs_box:after {
  background: #ccc;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .job .one_jobs ul {
    margin-left: 33px;
  }
  .job .one_jobs img {
    width: 100%;
    margin: 0;
  }
  .job .one_jobs_box {
    padding: 0 9px;
  }
}
.history .photo {
  width: 295px;
  height: 295px;
  background: #282828;
  position: relative;
  padding-top: 85px;
  float: left;
  margin-right: 55px;
  margin-left: 110px;
  margin-top: -20px;
}
.history .photo .img-wrap {
  width: 80px;
  height: 80px;
  display: block;
  top: calc(50% - 40px);
  top: -webkit-calc(50% - 40px);
  left: calc(50% - 40px);
  left: -webkit-calc(50% - 40px);
  margin: 0 auto 15px auto;
  border-radius: 100%;
  background: #ffffff url('../img/photo.png') no-repeat center;
}
.history .photo .img-wrap + span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 600;
}
.history .masters {
  width: calc(100% - 470px);
  width: -webkit-calc(100% - 470px);
  margin: -20px 0 0 auto;
}
.history .masters h5 {
  font-size: 22px;
  margin-top: 0;
}
.history .masters ul {
  list-style: none;
  margin: 0;
}
.history .masters ul li {
  padding-top: 0;
  padding-bottom: 20px;
}
.history .masters ul li .name {
  font-size: 14px;
  font-weight: 600;
  word-break: break-all;
  margin: 0 47px 0 17px;
  display: inline-block;
}
.history .masters .btn-orange.white {
  margin-top: 0;
}
.history .masters .btn-orange:not(.white) {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 45px;
}
.history .record {
  background: #f1f1f1;
  min-height: 130px;
  position: relative;
  background: url('../img/date-palka.jpg') repeat-y;
  background-position: 45px 0;
}
.history .record.background:before {
  content: '';
  background: #fff;
}
.history .record.background .inner {
  background: #ffffff url('../img/date-palka.jpg') repeat-y;
  background-position: 45px 0;
  position: relative;
  top: 70px;
}
.history .record.background .inner:after {
  content: '';
  clear: both;
  display: block;
  width: 100%;
  height: 1px;
}
.history .record.background .inner:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #e9edf0;
  position: relative;
  top: 54px;
  display: block;
}
.history .record.background .inner .title {
  position: relative;
  top: -75px;
}
.history .record.background .inner p.desk {
  position: relative;
  top: -63px;
  font-size: 18px;
  left: 18px;
}
.history .record.background + .record {
  margin-top: 70px;
}
.history .record > .date {
  width: 93px;
  height: 93px;
  background: url('../img/date-back.jpg') no-repeat center;
  border-radius: 100%;
  float: left;
  text-align: center;
  z-index: 5;
  position: relative;
}
.history .record > .date p {
  padding: 0;
}
.history .record > .date p span:first-of-type {
  font-size: 24px;
  color: #ff9800;
  display: inline-block;
  width: 100%;
  margin-top: 25%;
}
.history .record > .date p span:last-of-type {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
.history .record .title {
  padding-top: 33px;
  padding-left: 110px;
}
.history .record p {
  font-size: 18px;
  color: #282828;
}
.history .record-left {
  float: left;
  width: calc(55% - 60px);
  padding: 0;
}
.history .record-left img {
  width: 280px;
}
.history .record-right {
  float: left;
  width: calc(45% - 60px);
  padding: 0 35px 0 85px;
}
.history .record-right .index_coments {
  padding-top: 0;
}
.history .record-right .index_coments p {
  font-size: 14px;
}
.history .record-right .list li {
  width: 50%;
}
.gallery {
  padding-top: 10px;
}
.gallery .sel .slick-next {
  right: 444px;
}
.gallery .slick-next,
.gallery .slick-prev {
  text-indent: -5000px;
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 5px 0 0 5px;
  border: none;
  position: absolute;
  overflow: hidden;
  color: white;
}
.gallery .slick-next:before,
.gallery .slick-prev:before {
  content: '';
  background: url('../img/btn_car_next.png') no-repeat;
  width: 19px;
  height: 35px;
  display: block;
  margin: 12px auto 0 auto;
  background-position: 0 100%;
  background-size: 100%;
}
.gallery .slick-next {
  right: 0;
  top: 50%;
}
.gallery .slick-prev {
  left: 0;
  top: 50%;
  z-index: 5;
  border-radius: 0 5px 5px 0;
}
.gallery .slick-prev:before {
  content: '';
  background: url('../img/btn_car_ptev.png') no-repeat;
  background-position: 0 100%;
  background-size: 100%;
}
.gallery .big-gallery {
  margin-bottom: 11px;
}
.gallery .big-gallery .slick-slide {
  position: relative;
}
.gallery .big-gallery .slick-slide .text-block {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 444px;
  padding-bottom: 11px;
}
.gallery .big-gallery .slick-slide .text-block h3 {
  font-size: 22px;
  color: white;
  margin-bottom: 18px;
}
.gallery .big-gallery .slick-slide .text-block .ul-wrap {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.gallery .big-gallery .slick-slide .text-block .ul-wrap ul {
  margin-left: 0;
  text-align: center;
  padding: 11px 17.5px 12px 17.5px;
}
.gallery .big-gallery .slick-slide .text-block .ul-wrap ul li {
  text-align: center;
  padding: 0;
  margin-right: 35px;
}
.gallery .big-gallery .slick-slide .text-block .ul-wrap ul li:last-of-type {
  margin-right: 0;
}
.gallery .big-gallery .slick-slide .text-block .ul-wrap li a {
  color: white;
}
.gallery .big-gallery .slick-slide .text-block.sel {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
}
.gallery .big-gallery .slick-slide .text-block.sel h3 {
  margin-top: 33px;
  padding: 0 0 0 16px;
}
.gallery .big-gallery .slick-slide .text-block.sel .ul-wrap {
  border-bottom-left-radius: 0;
}
.gallery .big-gallery .slick-slide .text-block.sel .ul-wrap li:first-of-type {
  position: relative;
}
.gallery .big-gallery .slick-slide .text-block.sel .ul-wrap li:first-of-type a {
  position: relative;
  z-index: 5;
}
.gallery .big-gallery .slick-slide .text-block.sel .ul-wrap li:first-of-type:after {
  content: '';
  width: 165px;
  height: 47px;
  position: absolute;
  top: -11px;
  left: -18px;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 5px;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat {
  background: rgba(0, 0, 0, 0.75);
  padding-top: 45px;
  height: calc(100% - 135px);
  height: -webkit-calc(100% - 135px);
  position: relative;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .posts {
  height: 100%;
  max-height: 444px;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .post {
  padding-left: 16px;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .post img {
  float: left;
  margin-right: 20px;
  border-radius: 100%;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .post .message {
  font-size: 14px;
  border-radius: 1px;
  position: relative;
  padding: 21px 19px;
  background: white;
  display: inline-block;
  width: calc(100% - 90px);
  width: -webkit-calc(100% - 90px);
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .post .message:before {
  content: '';
  width: 15px;
  height: 14px;
  position: absolute;
  left: -15px;
  bottom: 15px;
  background: url('../img/wh-pip.png') no-repeat;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .post .message .inner {
  max-width: 250px;
  display: inline-block;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .post i.date {
  display: block;
  font-style: normal;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.43);
  padding-left: 87px;
  padding-top: 12px;
  padding-bottom: 25px;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .post.operator .date {
  text-align: right;
  padding-right: 42px;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .post.operator .message {
  width: calc(100% - 18px);
  width: -webkit-calc(100% - 18px);
  background: #ff9800;
  color: white;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .post.operator .message:before {
  content: '';
  width: 15px;
  height: 14px;
  position: absolute;
  left: 100%;
  bottom: 15px;
  background: url('../img/or-pip.png') no-repeat;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .jspVerticalBar {
  width: 8px;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .jspVerticalBar .jspTrack {
  background: #2e2f30;
}
.gallery .big-gallery .slick-slide .text-block.sel .chat .jspVerticalBar .jspDrag {
  background: #ff9800;
}
.gallery .big-gallery .slick-slide .text-block.sel .answer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
}
.gallery .big-gallery .slick-slide .text-block.sel .answer input {
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
}
.gallery .big-gall-nav .slick-slide {
  margin-right: 7px;
}
.gallery .big-gall-nav .slick-slide img {
  padding: 4px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg);
  /* Firefox 4+ */
  filter: gray;
  /* IE 6-9 */
}
.gallery .big-gall-nav .slick-slide.slick-active {
  background: #ff9800;
}
.gallery .big-gall-nav .slick-slide.slick-active img {
  box-shadow: inset 0 0 4px #ff9800;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
  /* IE 6-9 */
}
.gallery .progress {
  margin-top: 13px;
  height: 8px;
  background: #e8ecf0;
  border-radius: 0;
  box-shadow: none;
  position: relative;
}
.gallery .progress span {
  position: absolute;
  top: 0;
  left: 5%;
  display: inline-block;
  height: 8px;
  vertical-align: top;
  width: 5%;
  background: #ff9800;
}
.gallery .albums {
  margin-bottom: 25px;
}
.gallery .albums h3 {
  margin-bottom: 43px;
}
.gallery .library_one .img_box a img {
  width: 281px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg);
  /* Firefox 4+ */
  filter: gray;
  /* IE 6-9 */
}
.gallery .library_one .img_box a:hover img {
  box-shadow: inset 0 0 4px #ff9800;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
  /* IE 6-9 */
}
.gallery .list_library {
  margin-top: 0;
  margin-left: 0;
}
.gallery .list_library li {
  padding: 0;
  margin-top: -43px;
}
.gallery .library_one {
  position: relative;
  padding-right: 14px;
}
.gallery .library_one .name {
  position: relative;
  bottom: 65px;
  padding-top: 0;
  left: 5px;
}
.gallery .library_one .name a {
  color: white;
}
.gallery .library_one .img_box a span {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 21px 16px;
  padding: 0 12px 0 36px;
  font-size: 12px !important;
  border-radius: 2px;
  bottom: 236px;
  left: 206px;
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .gallery .library_one .img_box a img {
    width: 230px;
  }
  .gallery .library_one .img_box a span {
    bottom: 184px;
    left: 156px;
  }
  .gallery .library_one .name {
    bottom: 80px;
  }
  .gallery .list_library li {
    margin-top: -65px;
  }
  .albums h3 {
    margin-bottom: 63px !important;
  }
}
@media only screen and (min-width: 1px) and (max-width: 992px) {
  .slick-arrow {
    display: none !important;
  }
  .gallery .big-gallery .slick-slide .text-block.sel h3 {
    display: none;
  }
  .gallery .big-gallery .slick-slide .text-block.sel .chat .posts {
    max-height: 279px;
  }
  .gallery .big-gallery .slick-slide .text-block .ul-wrap {
    border-radius: 0;
  }
  .gallery .big-gallery .slick-slide .text-block.sel .chat .post i.date {
    padding-left: 72px;
  }
  .gallery .big-gallery .slick-slide .text-block.sel .chat .post.operator .date {
    padding-right: 19px;
  }
  .gallery .big-gallery .slick-slide .text-block.sel .chat {
    height: -webkit-calc(100% - 37px);
    height: calc(100% - 37px);
  }
  .gallery .big-gallery .slick-slide .text-block.sel .ul-wrap li:first-of-type:after {
    width: 122px;
    top: 1px;
    left: -11px;
  }
  .gallery .big-gallery .slick-slide .text-block {
    width: 329px;
  }
  .gallery .big-gallery .slick-slide .text-block .ul-wrap ul li {
    margin-right: 0;
  }
  a.btn_coment {
    padding-left: 0;
  }
  .gallery .big-gallery .slick-slide .text-block .ul-wrap ul {
    padding: 0;
    margin: 0;
  }
  .gallery .big-gallery .slick-slide .text-block .ul-wrap li a {
    display: none;
  }
  .gallery .big-gallery .slick-slide .text-block .ul-wrap li a.tb {
    width: 33%;
    margin: 0 auto;
    display: inline-block !important;
    vertical-align: middle;
    line-height: 24px;
  }
  .gallery .big-gallery .slick-slide .text-block .ul-wrap li a.tb span {
    visibility: hidden;
  }
  .gallery .big-gallery .slick-slide .text-block .ul-wrap li a.btn_coment i {
    font-style: normal;
    position: relative;
    top: -11px;
    left: 25px;
  }
  .gallery .big-gallery .slick-slide .text-block .ul-wrap li a.btn_like,
  .gallery .big-gallery .slick-slide .text-block .ul-wrap li a.btn_share {
    position: relative;
    left: 13px;
  }
  .gallery .big-gallery .slick-slide > img {
    height: 432px;
  }
  .list_library li {
    width: 33% !important;
  }
  .gallery .library_one .img_box a img {
    width: 236px !important;
  }
  .gallery .library_one .img_box a span {
    bottom: 190px;
    left: 161px;
  }
  .gallery .library_one .name {
    bottom: 85px;
  }
  .gallery .library_one {
    padding-right: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .gallery .albums {
    padding: 0 16px 0 7px;
  }
  .gallery .list_library li {
    width: 50% !important;
  }
  .gallery ul.list_library .library_one .img_box a img {
    width: 97% !important;
  }
  .gallery .library_one .name {
    min-height: 48px;
  }
  .gallery .library_one .img_box a span {
    display: none;
  }
}
.stats .ch-header h2 {
  color: #fd7e01;
  font-size: 30px;
  text-transform: none;
  padding-left: 210px;
}
.stats .ch-wrap {
  position: relative;
  height: 304px;
  margin-bottom: 9px;
  box-shadow: 3px 0 12px rgba(100, 108, 115, 0.24);
  background: white;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
}
.stats .ch-wrap li.info-more {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}
.stats .ch-wrap li.info-more .medium {
  font-size: 30px;
  line-height: 32px;
  display: block;
  color: black;
}
.stats .ch-wrap li.info-more img {
  margin-top: 35px;
  margin-bottom: 25px;
}
.stats .ch-wrap li.info {
  height: 217px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}
.stats .ch-wrap li.info .big {
  margin-top: 50px;
  color: #fd7e01;
  font-size: 50px;
  line-height: 52px;
  display: block;
  font-weight: 300;
}
.stats .ch-wrap li.info .medium {
  color: #fd7e01;
  font-size: 30px;
  line-height: 32px;
  display: block;
  font-weight: 300;
}
.stats .ch-wrap.p-right {
  margin-right: 9px;
}
.stats .ch-wrap.height {
  height: 204px;
}
.stats .ch-wrap.auto {
  height: auto;
}
.stats .ch-wrap .img-wrap {
  position: absolute;
  left: 60px;
  top: -60px;
  width: 107px;
  height: 107px;
  background: white;
  border-radius: 100%;
  box-shadow: 3px 0 12px rgba(33, 42, 61, 0.17);
  text-align: center;
}
.stats .ch-wrap .img-wrap img {
  margin-top: calc(50% - 19.5px);
  margin-top: -webkit-calc(50% - 19.5px);
}
.stats .ch-wrap.full {
  width: 100%;
}
.stats .ch-wrap.full .ch {
  display: inline-block;
}
.stats .ch-wrap.ch2 {
  width: calc(100% - 644px);
  width: -webkit-calc(100% - 644px);
}
.stats .ch-wrap #ch3 {
  width: 33% !important;
}
.stats .ch-wrap #ch3 g.highcharts-series path {
  fill: #6d7488;
}
.stats .ch-wrap #ch4 {
  width: 33% !important;
}
.stats .ch-wrap #ch4 g.highcharts-series path {
  fill: #fe8005;
}
.stats .ch-wrap #ch5 {
  width: 33% !important;
}
.stats .ch-wrap #ch5 g.highcharts-series path {
  fill: #36a9d0;
}
.stats .ch-wrap #ch6,
.stats .ch-wrap #ch7,
.stats .ch-wrap #ch8 {
  width: 33% !important;
}
.stats .table {
  padding: 0 59px;
  height: auto;
  margin-bottom: 25px;
}
.stats .table .btn-orange {
  margin-bottom: 25px;
}
.stats table tr {
  border-bottom: 1px solid #d4d4d5 !important;
}
.stats table tr:last-of-type {
  border-bottom: none !important;
}
.stats table tr:hover {
  border-color: #ffe6cc !important;
}
.stats table tr:hover td {
  background: #ffe6cc;
}
.stats table th {
  font-weight: 600;
  font-size: 16px;
  color: #1e1f24;
  background: transparent;
  text-align: center;
}
.stats table td {
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.stats table td:last-of-type {
  font-weight: 600;
}
.stats table td:first-of-type {
  text-align: left !important;
  padding-left: 0 !important;
}
.stats table td:first-of-type img {
  border-radius: 100%;
  margin-left: 20px;
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  #ch1 {
    width: 550px !important;
  }
  #ch2 {
    width: 370px !important;
  }
  .stats .ch-wrap.ch2 {
    width: -webkit-calc(100% - 563px);
    width: calc(100% - 563px);
  }
  .info-more {
    float: right;
    padding-right: 90px !important;
    padding-top: 0 !important;
    padding-bottom: 25px !important;
  }
}
@media only screen and (min-width: 1px) and (max-width: 998px) {
  .table {
    padding: 0 !important;
  }
  .table td img {
    float: left;
  }
  .table td {
    padding-left: 0;
    padding-right: 0;
  }
  .table .name {
    margin-left: 95px;
    display: block;
  }
  .info-more {
    float: right;
    padding-right: 53px !important;
    padding-top: 0 !important;
    padding-bottom: 25px !important;
  }
  #ch1 {
    width: 100% !important;
  }
  .stats .ch-wrap.p-right {
    width: 100%;
  }
  .stats .ch-wrap.ch2 {
    width: 100% !important;
  }
  #ch2 {
    width: 100% !important;
  }
  .stats .ch-wrap #ch3,
  .stats .ch-wrap #ch4,
  .stats .ch-wrap #ch5 {
    width: 32% !important;
    height: 157px !important;
  }
  .stats .ch-wrap #ch6,
  .stats .ch-wrap #ch7,
  .stats .ch-wrap #ch8 {
    width: 32% !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .height {
    height: auto !important;
  }
  .stats .ch-wrap #ch3,
  .stats .ch-wrap #ch4,
  .stats .ch-wrap #ch5 {
    width: 100% !important;
    display: block;
    height: 237px !important;
  }
  .stats .ch-wrap #ch6,
  .stats .ch-wrap #ch7,
  .stats .ch-wrap #ch8 {
    width: 100% !important;
  }
  .height + div {
    height: auto !important;
  }
  .achievements_cont {
    display: block;
  }
  .stats .ch-header h2 {
    font-size: 25px;
    padding-left: 110px;
  }
  .stats .ch-wrap .img-wrap {
    width: 85px;
    height: 85px;
    left: 8px;
  }
  .info {
    width: 65% !important;
    height: auto !important;
    margin: 0 26px 0 0;
    float: right;
  }
  .achievements_cont ul {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  .info-more {
    float: left;
    padding: 0 !important;
    margin-left: 20px;
    margin-bottom: 20px !important;
  }
  .big {
    float: left;
    margin: 0 !important;
  }
  .medium {
    display: block !important;
  }
  .b-o {
    text-align: center;
  }
  .master-copy {
    padding-top: 65px;
  }
  .master-copy .master {
    position: relative;
  }
  .master-copy .master .inner {
    padding: 10px 25px;
    min-height: 73px;
  }
  .master-copy .master:after {
    content: '';
    display: block;
    clear: both;
  }
  .master-copy .master.sel {
    background: #ffcfa3;
  }
  .master-copy .master.sel .child {
    background: #ffe6cc;
    padding: 10px 0;
  }
  .master-copy .master.sel .child span {
    margin-left: 100px;
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
  }
  .master-copy .master.sel .child span:last-of-type {
    margin-bottom: 0;
  }
  .master-copy .master.sel .child span strong {
    float: right;
    margin-right: 50%;
  }
  .master-copy .master img {
    float: left;
  }
  .master-copy .master .name {
    font-size: 16px;
    width: 50%;
    display: block;
    margin-left: 75px;
  }
  .master-copy .master .pos {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 18px;
    width: 3em;
    text-align: right;
  }
  .masters-header {
    position: relative;
    top: -95px;
  }
  .auto {
    padding-bottom: 150px;
  }
  .stats .table {
    margin-top: -86px;
  }
  .stats .table .img-wrap {
    top: -47px;
  }
  .pos {
    font-weight: 600;
  }
  .stats .ch-wrap {
    box-shadow: none;
  }
  .stats .ch-wrap:not(.auto) {
    margin-bottom: 36px;
  }
}
.title_box_right a {
  font-size: 18px;
  color: #ff8200;
  text-decoration: none;
  padding: 0 5px 5px;
  display: inline-block;
}
.title_box_right a.active {
  border-bottom: 3px solid #fd7e01;
  color: #000;
}
.one-col {
  padding: 0 15px;
}
.left {
  width: calc(100% - 274px);
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.left + .right {
  width: 274px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.left + .right.banner {
  padding: 0;
}
.content_box.custom {
  padding-right: 15px;
}
form button.orange {
  background: none;
  border: none;
  margin: 8px 0 0 2px;
}
form button.orange span {
  display: block;
  width: 100%;
  height: 34px;
  background: #ff8200;
  line-height: 34px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 17px;
}
form.short .dTypo {
  display: inline-block;
}
form.short [type="text"] {
  width: 202px;
  height: 34px;
}
.btn-orange {
  display: block;
  height: 64px;
  width: 368px;
  background: #ff8200;
  margin: 62px auto 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 64px;
}
.btn-orange.medium {
  height: 42px;
  line-height: 42px;
  padding: 0 36px;
  width: auto;
  display: inline-block;
}
.btn-orange.white {
  border-radius: 0 !important;
  font-size: 12px;
  background: #ffffff;
  border: 2px solid #ff8200;
  color: #ff8200;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 35px;
  height: 35px;
  padding: 0 25px;
  width: auto;
  display: inline-block;
}
.btn-orange:hover {
  background: #f28f28;
  color: white;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .btn-orange.show-more {
    width: auto;
    display: inline-block;
    padding: 0 37px;
    margin-left: 10px;
  }
}
