body {
  color: inherit;
}
.filter {
  line-height: 45px;
  margin-right: 34px;
}
.filter a {
  line-height: 100%;
}
.filter,
.filter + form {
  float: left;
}
.row > .left {
  padding-right: 40px;
}
.media {
  margin-top: 33px;
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .media.big img {
    width: 300px;
  }
}
@media all and (min-width: 992px) and (max-width: 1050px) {
  .media.big img {
    width: 141px;
  }
}
.media.sel h4 {
  color: #ff5607;
}
.media h4 {
  font-size: 18px;
  color: #292a2f;
  margin-bottom: 11px;
}
.media p {
  font-size: 14px;
  color: #282828;
  line-height: 16px;
}
.media .inner {
  padding-top: 23px;
}
.media .media-left {
  padding-right: 27px;
}
.media.active {
  background: #e9edf0;
}
.btn-orange.show-more {
  margin: 45px auto 145px 169px;
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .title_box_right {
    top: 12px;
  }
  .filter {
    display: block !important;
    float: none !important;
  }
}
@media only screen and (min-width: 1px) and (max-width: 992px) {
  .title_box_padd {
    padding: 0 15px 25px !important;
  }
  .title_box .title_box_right {
    right: 15px;
    bottom: -65px;
  }
  .title_box .title_box_right form {
    display: none;
  }
  .title_box .title_box_right .filter {
    float: none;
    width: 100%;
  }
  .row > .left {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .row > .right {
    display: none;
  }
  .title_box_right {
    left: 15px;
    right: 0;
  }
  .title_box_right .filter a {
    display: none;
  }
  .title_box_right .sell_orange {
    display: block;
    margin: 0;
    line-height: 36px;
    margin-top: 3px;
  }
  .title_box_right form {
    float: right;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .sell_orange {
    background-color: #ffffff !important;
  }
  .media-left {
    display: block;
  }
  .media-body {
    padding: 0 10px;
  }
  .media-body p {
    font-size: 13px;
  }
  .media.big .media-body {
    padding-bottom: 22px;
  }
  .date {
    font-size: 12px;
  }
}
.title_box_right a {
  font-size: 18px;
  color: #ff8200;
  text-decoration: none;
  padding: 0 5px 5px;
  display: inline-block;
}
.title_box_right a.active {
  border-bottom: 3px solid #fd7e01;
  color: #000;
}
.left {
  width: calc(100% - 274px);
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.left + .right {
  width: 274px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.left + .right.banner {
  padding: 0;
}
.content_box.custom {
  padding-right: 15px;
}
form button.orange {
  background: none;
  border: none;
  margin: 8px 0 0 2px;
}
form button.orange span {
  display: block;
  width: 100%;
  height: 34px;
  background: #ff8200;
  line-height: 34px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 17px;
}
form.short .dTypo {
  display: inline-block;
}
form.short [type="text"] {
  width: 202px;
  height: 34px;
}
.btn-orange {
  display: block;
  height: 64px;
  width: 368px;
  background: #ff8200;
  margin: 62px auto 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 64px;
}
.btn-orange:hover {
  background: #f28f28;
  color: white;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .btn-orange.show-more {
    width: auto;
    display: inline-block;
    padding: 0 37px;
    margin-left: 10px;
  }
}
