@media only screen and (min-width: 1px) and (max-width: 1200px) {
	.head_data .phone {font-size:23px;}
	.head_city address {font-size:13px;}
	.form_write label { display:block; float:none;}
	.form_write {float:none;}
	.serivice_left {width:36%;}
	.serivice_right {width:64%;}
	.list_btn_coments li { padding-top:10px;}
	
	.map_popup {margin-left:-490px;}
	.map_popup_right {margin-right:-490px;}
	.footer_top_box .name {display:none;}
	.foot_logo { display:none;}
	.one_feedback_box { clear:both;}
	.form_contact {padding-left:0; padding-right:0;}
	.contacts_data ul { padding-left:0; padding-right:0;}
	.contacts_data ul li:first-child {padding-left:0;}
	.contacts_data ul li {padding:0 0 0 30px;}
}


@media only screen and (min-width: 1px) and (max-width: 992px) {
	
	div.sell_orange { display:block;}
	.main_title {font-size:26px;}
	a.btn_all_news {top:18px; right:15px;}
	.content_box {padding: 10px 15px 55px;}
	.content_box .title_box {margin:0 -15px 22px;}
	.img_zoom {float:none; margin:0 0 22px; display:inline-block;}
	.img_zoom img {display:block; max-width:100%; width:100%;}
	h2 {padding:10px 0 15px;}
	.footnote {padding:25px 0 0;}
	h3 {font-size:18px;}
	.sliderNewsPhoto .slick-prev, .sliderNewsPhoto .slick-next {display:none !important;}
	
	.more_news li {width:33.33337%;}
	.more_news li:last-child {display:none;}
	
	
	
	.list_adds li {width:50%;}
	.list_adds li.w2 {width:100%;}
	
	.head_much {display:none;}
	.head_city {display:none;}
	.head_btn {display:none;}
	
	a.btn_lk {display:none;}
	
	a.head_user {display:block;}
	a.head_mess {display:block;}
	
	.menu_drop { left:0; right:0;}
	.menu > li ul li {float:left; line-height:60px}
	.header_top_box {padding: 0 355px  0 110px;}
	.header_top_index .header_top_box {padding: 0 355px  0 110px;}
	.header_top_index .head_data {width:auto; float:right;}
	.head_data {width:auto; float:right;}
	.logo {width:84px; left:20px;}
	.head_data .phone {font-size:28px;}
	
	.header_top_index .head_right {width:auto; top:20px; right:25px;}
	.head_right {width:auto; top:20px; right:25px;}
	
	a.btn_menu {display:block;}
	a.btn_address  {display:block;}
	.menu {margin:0 0 100px;}
	.menu > li { padding:0;}
	.menu > li > a {font-size:16px;}
	
	.main_adds .main_adds_text p {display:none;}
	.main_adds .main_adds_text h2 {font-size:24px; line-height:29px;}
	.main_adds .main_adds_text .btn_more {margin:0;}
	.main_adds .main_adds_text {left:46px; bottom:48px; top:auto;}
	
	.add_four {display:none;}
	.about h2 {font-size:25px;}
	.about h3 {font-size:20px;}
	.about {padding:60px 0 40px;}
	.caruselAbout  {margin:85px 0 0;}
	.caruselAbout {padding:0;}
	.caruselAbout .slick-prev {display:none !important;}
	.caruselAbout .slick-next {display:none !important;}
	.index_news { padding-top:30px;}
	
	.list_events li {width:50%;}
	.list_events li:last-child {display:none;}
	
	.service_top_right {display:none;}
	.service_top {padding:13px 0 13px 320px;}
	.service_top_left {margin:0 0 0 -320px; width:320px;}
	.service_top_left .title {font-size:18px; padding:15px 0 0 15px; width:90px;}
	.service_master {width:230px;}
	.service_master .name {font-size:14px; line-height:17px;}
	
	.serivice_left {width:45%; min-height:455px;}
	.serivice_right {width:55%;}
	.service_date ul {padding:10px 0 0;}
	.service_date ul li {margin:0 0 5px;}
	.service_date ul li a {font-size:14px; padding:5px 15px;}
	.serivice_right h2 {display:none;}
	.all_service table td {font-size:14px; padding:5px 10px;}
	.all_service table td .btn_more {display:none;}
	.all_service {padding:0; height:455px;}
	.icon_orage {height:30px; width:30px; line-height:30px; font-size:10px;}
	.icon_red {height:30px; width:30px; line-height:30px; font-size:10px;}
	
	.one_best_master {width:25%;}
	.see_all {width:25%; padding:40px 0 0;}
	a.btn_see_all {background-position: 50% 0; padding:50px 0 0;}
	
	.one_best_master .name span {height:180px;}
	.one_master_box .img_box {width:50%;}
	.one_master_data { padding:33px 0 39px 10px; width:50%;}
	.one_master .name {font-size:25px;}
	.honors li {width:100%;}
	.one_master_link {width:100%;}
	.one_master_link li {width:33.33337%;}
	.one_master_link li a {width:auto;}
	
	.index_coments_left {float:none; width:auto;}
	.index_coments_right {float:none; width:auto; padding:0;}
	
	.sldierComents .slick-prev {display:none !important;}
	.sldierComents .slick-next {display:none !important;}
	
	.form_entry {padding:0;}
	.form_entry_tx {width:50%;}
	
	.list_library li {width:50%;}
	
	.main_contact_nav:after {display:none;}
	.map_popup_right {display:none;}
	.main_contact_nav li a {font-size:14px;}
	
	.map_popup {width:325px; margin:0 0 0 -360px; min-height:auto;}
	.map_popup ul li {font-size:14px;}
	.map_popup_icon {display:none;}
	.map_popup .phone { font-size:22px; height:50px; line-height:50px;}
	.footer_top {display:none;}
	.foot_soc .name {display:none;}
	
	#footer { background:#e9edf0;}
	
	.footer_left {width:45%;}
	.footer_right {float:right; width:55%; border:none;}
	.work_site p span {text-align:left; padding:0 0 0 21px;}
	.work_site p span em {font-style:normal; color:#9e9e9e; font-size:12px;}
	.foot_soc ul {margin:0;}
	.foot_soc ul li {padding:0; width:25%; text-align:center;}
	
	.MainSlider .slick-dots {display: block !important;}
	
	
	
	.study_adds .study_adds_text {left:45px;}
	.training_step {margin-left:50px;}
	
	.sldierPgoto img {display:block; width:177px;}
	.training .training_name:before, .training .training_name:after {display:none;}
	
	.sliderAwards {padding:0;}
	.sliderAwards .slick-prev, .sliderAwards .slick-next {display:none !important;}
	.one_jobs_box {padding:0;}
	.one_jobs_box:after {display:none;}
	.one_jobs a.btn_jobs {position: relative; top:0; right:0; margin:20px 0 0;}
	.one_jobs .read_all { margin:40px 40px 0 0;}
	.apply_job_box:after {right:403px;}
	
	.form_apply_left {float:none; width:auto;}
	.form_apply_right {float:none; width:auto;}
	.form_apply .form_apply_tx {width:50%;}
	.form_apply .form_apply_tx:first-child {width:100%;}
	.form_apply button {float:right; width:216px;}
	.form_apply_right label {float:right; width:224px; padding-top:15px;}
	.rules_left {float:none; width:auto;}
	.rules_right {float:none; width:auto; padding:35px 0 0;}
	
	.apply_job h2 {font-size:28px;}
	.form_apply_txar textarea {height:85px;}
	.achievements_cont ul  {padding:0; margin:0 -8px;}
	.achievements_cont ul li { margin:0 8px;}
	
	
	.one_feedback_maters {margin:0 40px 0 0; width:auto;}
	.one_feedback .list_btn_coments {padding-top:48px;}
	
	.feedbask_main .index_coments {padding-left:45px; padding-right:45px;}
	
	.title_box_padd {margin-bottom:90px;}
	.title_box_right {top:auto; bottom:-67px; left:45px; right:45px;}
	.title_box_right .btn_write_coments { float:right;}
	
	.menu > li ul.nav_contacts li a {font-size:14px; text-transform:none;}
	.menu > li ul.nav_contacts li {line-height:46px;}
	.map_contacts {margin:-50px 0 0; height:360px;}
	.contacts_data ul li:first-child {display:none;}
	.form_contact_one {width:50%; padding:0 6px 0 0;}
	.form_contact_two {width:50%; padding:0 0 0 6px;}
	.form_contact_top {display:none;}
	.form_contact_three {width:100%;}
	.form_contact button {float:right; width:295px;}
} 

