@media only screen and (min-width: 0px) and (max-width: 767px) {
	
	.menu_drop {display:none;}
	
	
	a.btn_all_news {position:relative; top:auto; right:auto; margin:15px 0 0;}
	.title_box {padding:0 15px 25px;}
	
	h1 {font-size:22px;}
	h2 {font-size:18px ; }
	
	.footnote h2 {font-size:18px; font-weight:normal;}
	.footnote_one {padding:15px;}
	.footnote_box {overflow:visible;}
	.news_photo h3 {font-size:18px;}
	
	.sliderNewsPhotoBox {margin:0 -15px;}
	
	.more_news li {width:50%;}
	.sliderNewsPhoto .slick-slide img {max-width:100%;}
	
	.container {padding:0 !important;}
	.menu {display:none;}
	.head_data { display:none;}
	.head_right {display:none;}
	.header_top_box {padding:13px 15px;}
	.header_top_index .header_top_box {padding:13px 15px;}
	.logo {width:60px;}
	.head_right_mobile {display:block;}
	.main_adds .main_adds_text {left:15px; width:15px; width:auto; bottom:13px;}
	
	.list_adds li img {width:100%;}
	
	.add_two .text p {font-size:11px;}	
	.add_two .text {left:20px; right:20px;}
	
	.add_three .text .name {font-size:22px; padding:10px 0 0; line-height:30px;}
	.add_three .text .name span {font-size:30px;}
	.add_three .text p {font-size:11px;}
	.add_three .text {width:225px;}
	
	.add_one .text .name { font-size:72px;}
	.add_one .text p {font-size:25px;}
	.add_four {display: none;}
	.add_four .text {width:190px;}
	.add_four .text .name {font-size:19px; padding:10px 0 0;}
	.add_four .text p {font-size:12px;}
	.add_video {padding:0;}
	.add_video .video {float:none; width:auto;}
	.add_video .text {float:none; width:auto; height:auto; background-size:cover; padding:25px 15px; margin:0;}
	.add_video .text .name {padding:0;}
	
	.about {padding-left:15px; padding-right:15px;}
	.index_news {padding-left:15px; padding-right:15px; margin:0;}
	.index_title h2 {font-size:25px; padding:0 0 0;}
	.index_title .btn_section {float:right; margin:0;}
	
	.form_write label {line-height:17px;}
	.form_write .tx {width:100%;}
	.form_write button {width:100%; margin:7px 0 0;}
	.form_write button span {width:100%;}
	
	.service {padding-left:15px; padding-right:15px;}
	.service_top { margin:0 -15px;  padding:32px 15px 29px;}
	.service_top_left {margin:0; float:none; width:auto;}
	.service_top_left:after {display:block; content:''; clear:both;}
	div.sell_orange {margin:38px 0 0; width:100%;}
	.service_top_left .title{ padding-left:0; width:70px;}
	.service h2 {font-size:25px; padding:0 0 10px;}
	.serivice_left {float:none; width:auto; min-height: inherit; padding-bottom:100px; }
	
	.serivice_cont {margin:0 -15px;}
	.serivice_right {float:none; width:auto;}
	.all_service table td:first-child {display:none;}
	.all_service {height:auto;}
	
	.best_master {margin:0; padding:25px 0 0;}
	.best_master h2 {padding:0 15px; font-size:25px;}
	.list_best_master {padding:20px 0 0;}
	.one_best_master {width:50%;}
	.see_all {width:100%;}
	a.btn_see_all {background-position: 0 50%; padding:0 0 0 60px;}
	.one_best_master .name span { padding:0 10px;}
	.one_master_box .icon {display:none;}
	.one_master_box .img_box {display:none;}
	.one_master_data {float:none; width:auto; padding:20px 15px;}
	
	.index_coments {padding-left:15px; padding-right:15px;}
	.index_coments .index_title .btn_section {font-size:11px; padding:0 5px;}
	.index_coments_left {margin:0 -15px;}
	.index_coments .name {text-align:center; padding:25px 0 0;}
	.index_coments .list {text-align:center;}
	.index_coments .list li {padding:8px 8px 0;}
	.list_btn_coments { display:none;}
	
	.pre_entry {margin:0; padding-left:15px; padding-right:15px;}
	.pre_entry h2 {font-size:25px;}
	.pre_entry h3 {font-size:14px;}
	.form_entry_tx {width:100%;}
	.media_library {padding:50px 15px;}
	.media_library  .index_title .btn_section {display:none;}
	
	.index_news .index_title .btn_section { display:none;}
	.main_contact_nav li {width:100%;}
	.map {height:605px;}
	.map_popup {left:0; right:0; margin:0; bottom:0; min-height:10px; width:auto; top:auto;}
	
	#footer {background:#fff;}
	.footer_left {float:none; width:auto; border-bottom:2px solid #e5e5e5; padding:10px 15px;}
	.footer_bot .footer_right {float: none; width:auto; padding:27px 0;}
	
	.MainSlider .slick-dots {display:none !important;}
	
	div.sell_orange {background-color:#e9edf0; overflow:hidden;}
	.service_master {width:220px;}
	
	
	.study_adds .study_adds_text {left:15px; right:15px; bottom:15px; top:auto; width:auto;}
	.study_adds .study_adds_text h2 {font-size:24px; color:#fff; line-height:29px;}
	.study_adds .study_adds_text p {display:none;}
	.training_program {padding:20px 0 30px;}
	.training_program h2 { font-size:25px;}
	.training .training_name {height:45px; line-height:45px; font-size:22px; padding:0 0 0 55px;}
	.training .training_name .icon .icon_bg {height:45px; width:45px;}
	.training .training_name .icon .ic2, .training .training_name .icon .ic1, .training .training_name .icon .ic3 {height:25px; width:25px; top:10px; left:10px; background-size:cover;}
	.training .training_name.active .icon .ic1, .training .training_name.active .icon .ic2, .training .training_name.active .icon .ic3 {background-size:cover;}
	.training_program {margin:0; padding-left:15px; padding-right:15px;}
	.training_step {margin:50px 0 0 25px;}
	.training_step:after {display:none;}
	.training_cont {padding-left:0;}
	
	.sldierPgoto {letter-spacing:normal; word-spacing:normal; text-align:center; margin:30px 0 0 ;}
	.sldierPgoto > div a img {width:290px;}
	.sldierPgoto .slick-prev, .sldierPgoto .slick-next { display:none !important;}
	.training_cont {margin:0 0 0 -25px;}
	
	.awards {padding:40px 15px;}
	.awards h2 {font-size:25px;}
	.sliderAwards {margin:20px 0 0;}
	.one_awards {width:290px; overflow:hidden;}
	.sliderAwards .slick-dots {padding:30px 0 0;}
	
	a.btn_traning {width:100%; height:auto; padding:12px 20px; line-height:22px; margin:20px 0 0;}
	
	.jobs {margin:0; padding:0 15px 80px;}
	.jobs_top {overflow:hidden; padding:20px 0 0;}
	.jobs h2 {font-size:25px; float:left; margin:0;}
	.jobs_top a.btn_jobs {float:right; top:-5px;}
	.one_jobs img {margin:0 auto; display:block; float:none; width:320px;}
	.one_jobs {overflow:visible; border:none;}
	.one_jobs h3 {font-size:18px; line-height:22px ; padding:10px 0 0;}
	.apply_job_box:after {right:50%; margin:0 -30px 0 0;}
	.apply_job h2 {font-size:25px; line-height:30px;}
	.form_apply .form_apply_tx {width:100%;}
	.apply_job_box {padding:20px 15px 40px;}
	.form_apply button {width:100%; float:none;}
	.form_apply_right label {margin:10px auto 0; float:none; width:210px; overflow:hidden;}
	
	.rules {padding:25px 15px;}
	.rules h2 {font-size:25px;}
	.form_apply_txar textarea {height:137px;}
	.form_apply_txar .dTypo .wrapBig { height:44px !important; padding-top:20px !important;}
	
	.sldierPgoto > div {float:none; padding:0;}
	
	.achievements {padding:0 15px;}
	.achievements_cont {display:none;}
	.achievements_one  {padding:0;border-bottom:1px solid #babec0; }
	.achievements_one .title {margin:0 -15px; padding:13px 15px;}
	.achievements_one .title:after {display:none;}
	.achievements_one .title span { font-size:18px;}
	.achievements_one.active .title span { font-weight:bold;}
	.achievements_one.active .achievements_cont {display:block;}
	.achievements_cont ul {margin-top:-40px; padding-bottom:60px;}
	.achievements_cont ul li {padding:40px 0 0;}
	
	.main_title {font-size:22px;}
	.breadcrumb li {font-size:12px;}
	
	.title_box_right .sell_orange {display: block;}
	.nav_years {display:none;}
	a.btn_write_coments {float:none; display:block; width:100%; margin:11px 0 0;}
	.title_box_padd {margin-bottom:120px;}
	.title_box_right {bottom:-105px; left:15px; right:15px;}
	.feedbask_main .index_coments { padding:0 15px;}
	.one_feedback {padding-left:15px; padding-right:15px;}
	.one_feedback .img_box {margin:0 20px 20px 0;}
	
	.one_feedback_box {overflow:visible;}
	.one_feedback {padding-bottom:0;}
	.one_feedback_maters {float:none; width:auto; margin:0;}
	
	.one_feedback .list_btn_coments { overflow:hidden; width: auto; margin:0 -15px; padding:20px 0 0; display:block; float:none;}
	.one_feedback .list_btn_coments li { float:left; width:33.3333%; border-top:2px solid #ccd0d5; padding:10px 15px 0; height:80px; border-left:2px solid #e9edf0;}
	.one_feedback .list_btn_coments li:first-child {border-left:none;}
	.one_feedback .list_btn_coments li a {padding:35px 0 0; background-position:50% 0; display:block; text-align: center; line-height:14px;}
	
	.feedbask_main .list_btn_coments { overflow:hidden; width: auto; margin:0 -15px; padding:20px 0 0; display:block;}
	.feedbask_main .list_btn_coments li { float:left; width:33.3333%; border-top:2px solid #ccd0d5; padding:10px 15px 0; height:80px; border-left:2px solid #e9edf0;}
	.feedbask_main .list_btn_coments li:first-child {border-left:none;}
	.feedbask_main .list_btn_coments li a {padding:35px 0 0; background-position:50% 0; display:block; text-align: center; line-height:14px;}
	
	.form_contact { padding:35px 15px 50px;}
	.form_contact h2 {text-align:center; font-size:30px;}
	.form_contact_one {width:100%; padding:0;}
	.form_contact_two {width:100%; padding:0;}
	.form_contact button {width:100%;}
	.contacts_data ul {margin:-20px 0 0 ;}
	.contacts_data ul li {display:block; text-align:center; padding:20px 0 0;}
	.contacts_data ul li:last-child {display:none;}
	.map_contacts {margin:0;}
	.map_contacts  .address {display:block;}
	.contacs_two {display: block;}
}



@media only screen and (min-width: 0px) and (max-width: 450px) {
	
	.one_best_master .name span { height:130px; padding:0 10px; width:130px;}
	.one_best_master .name {font-size:19px;}
	.one_jobs img {margin:0 -15px;}
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
	.list_adds li {width:100%;}
	.list_library li {width:100%;}
	.list_events li {width:auto;}
	.more_news li {width:100%;}
	.one_feedback .img_box {float:none; margin:0 0 20px;}

	
}
