body {
  color: inherit;
}
.job {
  margin-top: 40px;
  padding-bottom: 40px;
}
.vacancy {
  margin-bottom: 40px;
}
.vacancy:after {
  content: '';
  display: block;
  clear: both;
}
.vacancy img {
  float: left;
}
.vacancy h2 {
  margin-top: 7px;
  padding: 0;
}
.vacancy h3 {
  font-size: 16px;
  color: #ff8200;
  padding: 0;
}
.vacancy ul {
  margin-left: 31px;
}
.vacancy div {
  position: relative;
  width: calc(100% - 380px);
  width: -webkit-calc(100% - 380px);
  display: inline-block;
  padding-left: 46px;
}
.vacancy div:after {
  content: '';
  position: absolute;
  right: -44px;
  top: 0;
  height: 166px;
  width: 1px;
  background: #cccccc;
}
.vacancy div h2 {
  color: #ff8200;
  font-size: 22px;
  margin-bottom: 8px;
}
.vacancy div p {
  font-size: 14px;
  color: #292a2f;
  line-height: 16px;
  padding-bottom: 24px;
}
.vacancy div a {
  text-transform: uppercase;
}
.vacancy div + a {
  float: right;
}
.one_jobs {
  border-top: 1px solid #ccc;
}
.one_jobs p {
  color: #292a2f;
}
.one_jobs_box:after {
  background: #ccc;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .job .one_jobs ul {
    margin-left: 33px;
  }
  .job .one_jobs img {
    width: 100%;
    margin: 0;
  }
  .job .one_jobs_box {
    padding: 0 9px;
  }
}
