.reviews {
  margin-top: 26px;
  padding-bottom: 105px;
}
.reviews .review {
  width: 580px;
  background: white;
  box-shadow: 3px 0 10px rgba(34, 48, 58, 0.14);
}
.reviews .review .inner {
  padding: 30px;
}
.reviews .review .record-left {
  text-align: center;
}
.reviews .review .record-left img {
  width: 49%;
}
.reviews .review .masters h4 {
  margin: 28px 0 12px 0;
}
.reviews .review .masters img {
  border-radius: 100%;
  margin-left: 12px;
}
.reviews .review .masters img:first-of-type {
  margin-left: 0;
}
.reviews .review h4 {
  font-size: 22px;
  color: #1e1f24;
}
.reviews .review p {
  font-size: 14px;
  color: #1e1f24;
  padding-bottom: 11px;
}
.reviews .review .date {
  font-size: 12px;
  color: #1e1f24;
  opacity: 0.5;
}
@media only screen and (min-width: 1px) and (max-width: 992px) {
  .reviews {
    margin-top: 101px;
  }
  .title_box_right {
    top: auto !important;
  }
  .title_box_right .sell_orange {
    display: none;
  }
  .grid {
    margin: 0 auto;
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
  }
}
.grid {
    position: relative;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .title_box_right .sell_orange {
    background-color: transparent !important;
    display: block;
  }
  .title_box .title_box_right {
    bottom: -105px;
  }

    .reviews .review {
        float: left;
        margin-bottom: 15px;
        max-width: 100%;
        position: relative;
    }

}
.title_box_right {
  top: 44px;
}
