body.st-u {
	#main {
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmYTM5NiIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjE0MCUiIHN0b3AtY29sb3I9IiM4MjM2NTMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhMzg1MiIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjOGQ1ZDYyIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNhZTg2NzQiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzg2NTA1ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZmMzg1MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		background-size: 100%;
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(191, 163, 150, 0.5)), color-stop(140%, #823653)), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #7a3852), color-stop(25%, #8d5d62), color-stop(50%, #ae8674), color-stop(75%, #86505f), color-stop(100%, #6f3852));
		background-image: -moz-linear-gradient(rgba(191, 163, 150, 0.5), #823653 140%), -moz-linear-gradient(left, #7a3852, #8d5d62, #ae8674, #86505f, #6f3852);
		background-image: -webkit-linear-gradient(rgba(191, 163, 150, 0.5), #823653 140%), -webkit-linear-gradient(left, #7a3852, #8d5d62, #ae8674, #86505f, #6f3852);
		background-image: linear-gradient(rgba(191, 163, 150, 0.5), #823653 140%), linear-gradient(to right, #7a3852, #8d5d62, #ae8674, #86505f, #6f3852);
	}
}

.study-masters {
	/**/
	.master-panel {
		position: relative;
		overflow: hidden;
		z-index: 10;
		height: 311px;
		@media @tablet {
			height: 100%;
			min-height: 400px;
		}

		a {
			text-decoration: none;
		}
		&.user {

			@media @tablet {
				height: 100%;
				min-height: 570px;
				.backg {
					background-position: top center;
					-webkit-background-size: cover !important;
					background-size: cover !important;
				}
				.master-menu {
					top: 95px;
				}

				.panel-menu {
					white-space: nowrap;
					bottom: 62px;
					border-bottom: 2px solid white;
					div {
						width: 29%;
					}
					& > div:first-of-type {
						width: auto;
						img {
							width: 62px;
							height: 62px;
						}
						h5 {
							margin-top: 20px;
						}
						h5, a {
							margin-left: 112px;
						}
					}
					img {
						margin-top: 25px;
					}
					.name {
						margin-top: 32px;
						white-space: normal;
					}
				}
			}
			height: 497px;
			.backg {
				background-repeat: no-repeat;
				filter: blur(0);
				-webkit-filter: blur(0);
				-moz-filter: blur(0);
				-ms-filter: blur(0);
				-o-filter: blur(0);

				background-size: 100%;
			}
		}

		.inner {
			position: relative;
			z-index: 5;
		}

		img {
			border-radius: 100%;
			width: 220px;
			height: 220px;
			box-shadow: 2px 0 16px rgba(44, 48, 53, 0.18);
			margin-top: 45px;
			margin-left: 16px;
			float: left;
			@media @tablet {
				width: 200px;
				height: 200px;
				margin-top: 63px;
			}
		}

		.about {
			max-width: 200px;
			display: inline-block;
			margin-top: 100px;
			margin-left: 50px;
			padding: 0;
			position: relative;
			@media @tablet {
				margin-top: 48px;
				max-width: 100%;
			}

			&.empty {
				margin-top: 80px;
				margin-left: 43px;
				position: relative;
				width: 220px;

				@media @tablet {
					margin-top: 85px;
					margin-left: 0px;
				}
				& + .about {
					position: absolute;
					margin: 0;
					top: 100px;
					left: 325px;
					@media @tablet {
						top: 45px;
						left: 256px;
					}

					a {
						color: white;
						text-decoration: underline;
						font-size: 16px;
						display: block;
						margin-top: 15px;
					}
				}
				&:after {
					position: absolute;
					top: -34px;
					left: 10px;
					content: '';
					border-radius: 100%;
					//background: white url('../../img/photo-master.jpg') no-repeat center;
					background: url('../../img/empty-avatar-wall.png') no-repeat center;
					width: 248px;
					height: 248px;
					//box-shadow: 2px 0 16px rgba(44, 48, 53, 0.18);
					//margin-top: 45px;
					//margin-left: 45px;
					float: left;
					@media @tablet {
						width: 208px;
						height: 208px;
					}
				}
				&:before {
					//content: '';
					//width: 220px;
					//height: 2px;
					//position: absolute;
					//background: #fd7e01;
					//left: 10px;
					//top: 77px;
				}
				.name {
					position: absolute;
					left: 65px;
					right: 0;
					top: 12px;
					text-align: center;
					font-size: 12px;
					line-height: 14px;
					font-weight: 900;
					color: #1e1f22;
					z-index: 1;
					text-transform: uppercase;
				}
				.title {
					font-size: 12px;
					line-height: 14px;
					text-align: center;
					font-weight: 900;
					color: #1e1f22;
					text-transform: uppercase;
					position: absolute;
					z-index: 1;
					top: 137px;
					left: 97px;
				}
			}
			.name {
				font-size: 30px;
				line-height: 30px;
				//text-transform: uppercase;
				color: white;
				font-weight: 600;
				display: block;
				margin-bottom: 28px;
				@media @tablet {
					margin-bottom: 13px;
				}
			}
			.title {
				font-size: 16px;
				line-height: 17px;
				color: white;
				display: block;
			}
		}

		.master-menu {
			width: 50%;
			float: right;
			margin-top: 80px;
			@media @tablet {
				width: auto;
				position: absolute;
				top: 48px;
				right: 0;
				.col-sm-6 {
					width: 240px;

				}
			}
			.all-reviews,
			.work-album,
			.list,
			.stats {
				color: white;
				text-decoration: none;
				font-size: 16px;
				margin-bottom: 30px;
				height: 60px;
				
				.magic {
					display: inline-block;
					vertical-align: middle;
					height: 60px;
				}

				i {
					font-style: normal;
					display: inline-block;
					vertical-align: middle;
					width: 50%;

					.badge {
						border-radius: 0;
						color: rgba(255, 255, 255, 0.4);
						background: none;
						padding: 0;
						font-weight: 300;
						font-size: inherit;
						vertical-align: initial;
					}
				}
				&:before {
					width: 60px;
					height: 60px;
					display: inline-block;
					vertical-align: middle;
					float: left;
					clear: left;
					margin-right: 19px;
				}
			}
			.all-reviews {
				display: block;
				&:before {
					content: '';
					background: url('../../img/all-reviews.png') no-repeat;
				}
			}
			.work-album {
				display: block;
				&:before {
					content: '';
					background: url('../../img/work-albums.png') no-repeat;
				}
			}
			.list {
				display: block;
				&:before {
					content: '';
					background: url('../../img/lists.png') no-repeat;
				}
			}
			.stats {
				display: block;
				&:before {
					content: '';
					background: url('../../img/stats.png') no-repeat;
				}
			}
		}

		.panel-menu {
			position: absolute;
			bottom: 20px;
			left: 0;
			z-index: 1;
			width: 100%;
			border-top: 2px solid white;
			height: 150px;
			& > div {
				display: inline-block;
				vertical-align: top;
				&:first-of-type {
					position: relative;
					margin-right: 42px;
					img {
						margin: 25px 0 0 27px;
						float: left;
						width: 107px;
						height: 107px;
					}
					h5 {
						font-size: 30px;
						margin-top: 40px;
						color: white;
					}
					.white {
						color: white;
						border-color: white;
					}
					h5, a {
						display: block;
						margin-left: 170px;
					}
					&:after {
						content: '';
						position: absolute;
						top: 25px;
						right: -47px;
						background: rgba(255, 255, 255, 0.2);
						height: 102px;
						width: 2px;
					}
				}
			}
			h5 {

			}
			a {

			}
			.null-wrap {
				.img-wrap {

					position: relative;
				}
				img {
					float: left;
					width: 60px;
					height: 60px;
				}
				.close {
					background: url('../../img/close-ico.png') no-repeat;
					width: 24px;
					height: 24px;
					position: absolute;
					top: -40px;
					right: -5px;
					cursor: pointer;
					opacity: 1;
				}
			}
			.name {
				font-size: 16px;
				color: white;
				margin-top: 55px;
				margin-left: 23px;
				display: inline-block;
				width: 50%;
			}
			.close {

			}
		}

		@media @mobile {
			min-height: 0;
			img {
				float: none;
				margin: 46px auto 0 auto;
				display: block;
			}

			.about {
				text-align: center;
				display: block;
				margin: 22px 0 0 0;
				.name {
					font-size: 22px;
					margin-bottom: 0;
				}
				.title {
					font-size: 14px;
				}
			}
			.master-menu {
				width: 100%;
				display: block;
				float: none;
				margin-top: 50px;
				position: static;
				text-align: center;
				margin-bottom: ~"calc(113px - 36px)";
				margin-bottom: ~"-webkit-calc(113px - 36px)";
				.list:before,
				.all-reviews:before,
				.stats:before,
				.work-album:before {
					float: none !important;
					clear: none !important;
					margin: 0 auto;
				}
				a {
					margin-bottom: 56px !important;
					.magic {
						display: none !important;
					}
					i {
						display: block !important;
						width: 100% !important;
					}
				}
				& > div {
					//float: none;
					width: 50% !important;
					display: inline-block;
					vertical-align: top;
					&:nth-of-type(1) {
						a {
							&:nth-of-type(1),
							&:nth-of-type(2) {
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
	}

	.backg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: auto 500%;
		background-position: center;
		//-webkit-transform: ;
		//-moz-transform: ;
		//-ms-transform: ;
		//-o-transform: ;
		//transform: ;
		filter: blur(15px);
		-webkit-filter: blur(15px);
		-moz-filter: blur(15px);
		-ms-filter: blur(15px);
		-o-filter: blur(15px);
	}

	.mega-carousel {
		margin-top: 229px;

		@media @mobile {
			.slick-arrow {
				display: none !important;
			}
		}
	}

	.crs-wrap {
		padding: 191px 10000px 0 10000px;
		margin: 0 -10000px;
		background: #292a2f;
		@media @tablet {
			padding: 0;
			margin: 0;
		}

		h3 {
			color: #fd7e01;
			font-size: 30px;
			padding-bottom: 34px;
			padding-top: 0;
		}
		p {
			font-weight: 300;
			font-size: 14px;
			line-height: 16px;
			color: white;
		}
		.btn_jobs {
			//color: white;
		}
	}

	@media @mobile {
		.crs {
			text-align: center;
			.btn_jobs {
				float: none !important;
				margin-top: 60px !important;
			}
			.slick-dots {
				bottom: -22px;
			}
		}
	}

	.crs {
		.btn_jobs {
			float: right;
			margin-top: 10px;
		}
	}
	.achs {
		margin-top: 60px;
		@media @tablet {
			margin-bottom: 45px;
		}
		img {
			margin-right: 40px;
		}
	}

	.float-block {
		position: relative;
		top: 125px; // only for desktop
		float: left; // only for desktop
		@media @tablet {
			top: -20px;
			z-index: 100;
		}
		&.nfl {
			float: none;
			top: 0;
			margin-top: 91px;

			h3 {
				color: white;
			}
		}
		.decor {
			width: 107px;
			height: 107px;
			background: white;
			border-radius: 100%;
			box-shadow: 4px 0 12px rgba(44, 48, 53, 0.18);
			position: absolute;
			left: 61px;
			top: -30px;
			text-align: center;
			@media @tablet {
				left: 16px;
			}
			@media @mobile {
				width: 84px;
				height: 84px;
				img {
					margin-top: 20px !important;
				}
			}
			img {
				margin-top: 27px;
			}
		}
		h3 {
			position: relative; // only for desktop
			top: -17px; // only for desktop
			font-size: 30px;
			color: #fd7e01;
			padding-left: 212px;
			@media @tablet {
				padding-left: 170px;
			}
			margin-top: 0;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 21px;
		}

		.inner {
			padding: 22px 22px 22px 216px;
			background: #fd7e01;
			@media @tablet {
				padding-left: 0;
				padding-right: 0;
				text-align: center;
			}
			.cap {
				margin-bottom: 8px;
				font-size: 22px;
				font-weight: 600;
				color: white;
				@media @tablet {
					padding-left: 170px;
					text-align: left;
				}
				.price {

				}
			}
			.col-md-6 {
				color: white;
				padding-left: 0;
				position: relative;
				&:not(.lefty) {
					&:before {
						content: '';
						background: url('../../img/white-arrow.png') no-repeat;
						width: 26px;
						height: 26px;
						position: absolute;
						bottom: 9px;
						left: -42px;
						@media @tablet {
							left: -14px;
						}
					}

					&:first-of-type {

					}
				}
				&.lefty {

				}
				span {
					color: white;
				}
				.procent {
					float: left;
					font-size: 45px;
					font-weight: 600;
					line-height: 52px;
					@media @tablet {
						font-size: 30px;
						margin-left: 25px;
						//line-height: 23px;
					}
					&:after {
						content: '';
						width: 2px;
						height: 37px;
						background: white;
						display: inline-block;
						vertical-align: middle;
						position: relative;
						left: 14px;
						top: -5px;
						@media @tablet {
							left: 8px;
							top: -10px;
						}
					}
				}
				.wrap {
					font-weight: 600;
					font-size: 22px;
					text-transform: uppercase;
					padding-left: 95px;
					@media @tablet {
						line-height: 20px;
						font-size: 20px;
					}
					@media @tablet {
						padding-left: 64px;
					}
					.title {
						font-size: 15px;
						font-weight: 300;
						display: block;
						text-transform: none;
						@media @tablet {
							text-align: left;
							padding-left: 22px;
						}
					}
					.price {
						text-transform: none;
						@media @tablet {
							font-size: 20px;
						}
					}
				}
			}
		}

		@media @mobile {
			width: 100%;
			h3 {
				color: white;
				font-size: 22px;
				padding-left: 0;
				text-align: center;
			}
			.inner {
				padding-top: 7px;
				.cap {
					font-size: 18px;
					text-align: center;
					padding: 0;
					.price {
						display: block;
					}
				}

				.col-md-6 {
					&:not(.lefty):before {
						bottom: 49px;
						left: -12px;
					}
					.procent {
						font-size: 45px;
						display: block;
						width: 100%;
						margin-left: 0;
						&:after {
							display: none;
						}
					}
					.wrap {
						padding: 0;
						.title {
							display: none;
						}
						.price {
							display: block;
						}
						font-size: 16px;
					}
				}

				.info {
					display: none;
				}
			}
		}
	}

	.achievement {
		position: relative;
		background: white;

		padding: 0 10000px;
		margin: 107px -10000px 0 -10000px;
		@media @tablet {
			padding: 0;
			margin: 0;
		}

		&.short {
			padding: 0;
			margin: 107px 0 0 0;
			.inner {
				border: none;
				@media @tablet {

				}
			}
		}
		.inner {
			position: relative;
			//border: 2px solid #e9edf0;
			box-shadow: inset 0 -2px 0px #e9edf0;
			padding-bottom: 56px;
		}

		.title-wrap {
			position: absolute;
			left: 210px;
			top: -108px;
			@media @tablet {
				left: 170px;
				top: -58px;
			}
			h2 {
				color: #fff;
				@media @tablet {
					color: #fd7e01;
				}
				font-size: 30px;
				text-transform: none;
			}
		}
		.achievements_cont {
			display: inline-block;
			@media @tablet {
				display: block;
				margin-left: 24%;
				li {
					&:last-of-type {
						text-align: center;
					}
				}
			}
		}
		.achievements_cont ul li {
			padding-top: 47px;
		}

		.info-more {
			text-align: center;
			font-size: 14px;
			display: inline-block;
			vertical-align: top;
			text-transform: uppercase;
			margin-top: 42px;
			@media @tablet {
				margin-top: 0;
			}
			img {
				margin-top: 35px;
				margin-bottom: 25px;
			}
			.medium {
				font-size: 30px;
				line-height: 32px;
				display: block;
				color: black;
			}
		}

		.inf {
			float: left;
			margin-left: 70px;
			margin-top: 95px;
			margin-right: 16px;
			text-align: center;
			font-size: 14px;
			text-transform: uppercase;
			@media @tablet {
				margin-left: 27px;
				margin-top: 88px;
			}
			.big {
				color: #fd7e01;
				font-size: 50px;
				line-height: 52px;
				display: block;
				font-weight: 300;
			}
			.medium {
				color: #fd7e01;
				font-size: 30px;
				line-height: 32px;
				display: block;
				font-weight: 300;
			}
		}
		.img-wrap {
			position: absolute;
			@media @tablet {
				left: 16px;
			}
			@media @mobile {
				width: 84px;
				height: 84px;
				top: -42px;
				img {
					margin-top: 9px;
				}
			}
			left: 60px;
			top: -60px;
			width: 107px;
			height: 107px;
			background: white;
			border-radius: 100%;
			box-shadow: 3px 0 12px rgba(33, 42, 61, 0.17);
			text-align: center;
			img {
				margin-top: calc(50% - 19.5px);
				margin-top: -webkit-calc(50% - 19.5px);
			}
		}

		@media @mobile {
			.title-wrap {
				top: -43px;
				left: 0;
				right: 0;
				h2 {
					//color: white;
					font-size: 22px;
					padding-left: 0;
					text-align: center;
				}
			}

			.inf {
				float: none;
				font-size: 14px;
				width: 175px;
				margin: 0 auto 56px auto;
				padding-top: 20px;
				.big {
					font-size: 55px;
					font-weight: 600;
					float: left;
				}
				.medium {
					font-size: 30px;
				}
			}
			.achievements_cont {
				margin: 0 auto;
				width: 270px;

				ul {
					li {
						padding-top: 20px;
					}
				}
			}
		}
	}

	.separated {
		margin-top: 105px;
		@media @tablet {
			margin-top: 0;
			.col-md-6 {
				&:first-of-type {
					border-bottom: 3px solid #e9edf0;
				}
				padding: 0 0;
			}
		}
		.col-md-6 {
			position: relative;
		}
		.controls {
			position: absolute;
			top: 23px;
			right: 37px;

			font-size: 22px;
			color: #d2d7db;
			font-weight: 300;

			&.custom {
				.left {
					margin-right: 12.5px;
				}
				.right {
					margin-left: 12.5px;
				}
			}
			.left {
				background: url('../../img/btn_sl_com_prev_hover.png') no-repeat;
				width: 19px;
				height: 35px;
				display: inline-block;
				cursor: pointer;
				padding: 0;
				float: left;
				background-size: 17px 30px;
			}
			.digits {
				display: inline-block;
				vertical-align: top;
				margin: 0 10px 0 14px;
			}
			.right {
				background: url('../../img/btn_sl_com_next_hover.png') no-repeat;
				width: 19px;
				height: 35px;
				display: inline-block;
				cursor: pointer;
				padding: 0;
				float: none;
				background-size: 17px 30px;
			}
		}
		.col-md-6 {
			.btn_jobs.white {
				float: right;
				border-color: white;
				color: white;
				margin: 18px 8px 0 0;
			}
			& > div {
				background: white;
			}
			.last-order {
				.inner {
					padding-left: 38px;
					padding-right: 22px;
					@media @tablet {
						padding-left: 172px;
					}
				}
				h5 {
					margin-top: 15px;
					color: #ff8200;
					font-size: 18px;
					font-weight: 400;
					text-indent: 5px;
					margin-bottom: 8px;
				}

				span.soc {
					font-size: 14px;
					color: #1e1f24;
					line-height: 15px;
					& ~ img {
						float: left;
						margin-right: 13px;
						margin-top: 26px;
						& + a {
							margin-top: 34px;
						}
					}
				}
				.date {
					text-indent: 5px;
					font-size: 12px;
					color: rgba(0, 0, 0, 0.5);
					display: block;
					margin-bottom: 17px;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						top: 25px;
						left: 0;
						width: 100%;
						height: 1px;
						background: #e5e5e5;
					}
				}
			}
			.subs {
				h5 {
					font-size: 25px;
					color: white;
					margin-top: 39px;
					@media @tablet {
						color: #ff8200;
					}
				}
				p {
					font-size: 16px;
					color: #494b4f;
				}
				.btn-orange {
					width: auto;
					display: inline-block;
					font-size: 18px;
					height: 46px;
					line-height: 46px;
					padding: 0 41px;
					margin-top: 0;
					vertical-align: top;
				}
				.btn-orange.white {
					font-size: 18px;
					margin-top: 0;
					height: 46px;
					line-height: 46px;
					padding: 0 41px;
				}
			}
		}
		.inner {
			position: relative;
			padding: 92px 63px 36px 63px;
			@media @tablet {
				padding-bottom: 127px;
				padding-left: 172px;
			}

			p {
				font-size: 13px;
				line-height: 14px;
				color: #1e1f24;
				padding-bottom: 35px;
			}
		}

		.name-wrap {
			img {
				float: left;
			}
			.name {
				display: block;
				font-size: 18px;
				color: #1e1f24;
				margin-left: 71px;
				line-height: 30px;
			}
			.date {
				display: block;
				font-size: 12px;
				color: rgba(0, 0, 0, 0.5);
				margin-left: 71px;
				line-height: 8px;
			}
		}

		.img-wrap {
			position: absolute;
			left: 60px;
			@media @tablet {
				left: 16px;
			}
			top: -60px;
			width: 107px;
			height: 107px;
			background: white;
			border-radius: 100%;
			box-shadow: 3px 0 12px rgba(33, 42, 61, 0.17);
			text-align: center;
			img {
				margin-top: ~"calc(50% - 19.5px)";
				margin-top: ~"-webkit-calc(50% - 19.5px)";
			}
		}

		.title-wrap {
			position: absolute;
			left: 210px;
			top: -108px;
			@media @tablet {
				left: 170px;
				top: -58px;
				h2 {
					color: #fd7e01 !important;
				}
			}
			h2 {
				color: #fff;
				font-size: 30px;
				text-transform: none;
			}
		}

		@media @mobile {
			.subs {
				h5 {
					margin-top: 8px !important;
				}
				a {
					margin-bottom: 11px;
				}
			}
			.inner {
				padding-left: 29px;
				padding-top: 65px;
				p {
					padding-bottom: 25px;
				}
			}
			.controls {
				left: 0;
				right: 0;
				margin: 0 auto;
				text-align: center;
				top: 6px;
				.left, .right {
					display: none;
				}
			}
			.title-wrap {
				top: -43px;
				left: 0;
				right: 0;
				h2 {
					//color: white;
					font-size: 22px;
					padding-left: 0;
					text-align: center;
				}
			}
			.img-wrap {
				width: 84px;
				height: 84px;
				top: -42px;
				img {
					margin-top: ~"calc(50% - 19.5px)";
					margin-top: ~"-webkit-calc(50% - 19.5px)";
				}
			}


		}
	}

	.form-custom-wrap {
		padding: 0 10000px;
		margin: 0 -10000px;
		background: rgba(0, 0, 0, 0.2);

		@media @tablet {
			background: transparent;
			padding: 0;
			margin: 0;
			.inner {
				padding-bottom: 0 !important;
			}
		}
		.inner {
			padding-bottom: 142px;
		}
		h2 {
			padding-top: 49px;
			font-size: 30px;
			color: white;
			font-weight: 300;
			text-transform: none;
		}

		p {
			line-height: 15px;
			color: white;
			padding: 0 0 18px;
			font-size: 14px;
			font-weight: 300;
			margin: 0;
		}

		form > div {
			margin-bottom: 15px;
			padding-left: 0 !important;
			padding-right: 30px !important;
		}

		form button {
			display: block;
			width: 100%;
			height: 64px;
			background: #ff8200;
			line-height: 64px;
			color: #fff;
			font-size: 15px;
			font-weight: 600;
			border: none;
			text-transform: uppercase;
		}

		.price {
			font-size: 18px;
			color: #282828;
			padding-top: 12px;
			text-align: center;
			font-weight: 600;
			text-transform: uppercase;
			color: white;
			span {
				text-transform: none;
				display: block;
				font-size: 14px;
				font-weight: 300;
				color: #fff;
				line-height: 75%;
			}
		}

		.control-wrap {
			padding: 0 10px;
			height: 64px;
			background: #e9edf0;
			font-size: 22px;
			color: #282828;
			box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.13);

			position: relative;

			&:after {
				content: '';
				background: url('../../img/bg_sel_orange.png');
				width: 21px;
				height: 10px;
				position: absolute;
				top: 30px;
				right: 14px;
			}

			.select {
				font-size: 18px;
				color: #282828;
				top: 40%;
				left: 5px;

				&.pls {
					top: 0;
					font-size: 15px;
					font-weight: 300;
				}
			}

			select {
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
	}


	.widget {
		@media @tablet {
			display: none;
		}
		position: relative;
		background: #eef1f3;
		clear: both;
		min-height: 164px;
		margin-top: 45px;
		margin-bottom: 70px;
		//width: calc(100% - 30px);
		//width: -webkit-calc(100% - 30px)

		img {
			float: left;
		}
		h3 {
			padding-top: 28px;
			padding-bottom: 0;
			margin-left: 271px;
		}
		p {
			font-size: 14px;
			line-height: 16px;
			margin-top: 7px;
			margin-bottom: 5px;
			margin-left: 271px;
		}
		a {
			margin-left: 27px;
			margin-top: 0;
		}
		.close {
			font-size: 14px;
			line-height: 16px;
			margin-top: 7px;
			margin-bottom: 5px;
		}
	}

	.stats-summary {

		h3 {
			text-align: center;
			font-size: 44px;
			color: #56575c;
			@media @tablet {
				color: white;
				padding-bottom: 0;
				line-height: 31px;
			}
		}

		.inner {
			padding: 0 10000px;
			margin: 0 -10000px;
			@media @tablet {
				padding: 0;
				margin: 0;
			}
			background: white;
			.but-inner {
				text-align: center;
			}
			.btn-orange {
				font-size: 18px;
				margin-top: 64px;
				margin-bottom: 47px;
				margin-left: auto;
				margin-right: auto;
				height: 46px;
				line-height: 46px;
				padding: 0 41px;
			}
		}
	}

	.progress {
		margin-top: 13px;
		height: 17px;
		background: #d96e05;
		border-radius: 0;
		box-shadow: none;
		position: relative;
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);

		@media @tablet {
			margin-left: 16px;
			margin-right: 16px;
		}
		&:before {
			content: '';
			width: 2px;
			height: 17px;
			background: #ff8200;
			position: absolute;
			left: ~"calc(50% - 2px)";
			left: ~"-webkit-calc(50% - 2px)";
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			height: 17px;
			vertical-align: top;
			width: 43%;
			background: #ffc400;
			box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
		}
	}

	.info {
		background: white;
		padding: 12.5px 20px;
		position: relative;
		border-radius: 5px;
		@media @tablet {
			margin-right: 16px;
			margin-left: 16px;
		}
		.close {
			position: absolute;
			top: 40%;
			right: 13px;
			background: url('../../img/gray-close-small.png') no-repeat;
			width: 13px;
			height: 13px;
			opacity: 1;
		}
		&:before {
			content: '';
			width: 61px;
			height: 57px;
			background: #292a2f url('../../img/icon_head_mess.png') no-repeat center;
			background-size: 20px 25px;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 5px 0 0 5px;
		}
		p {
			padding-bottom: 0;
			padding-left: 63px;
			font-size: 14px;
			line-height: 16px;
		}
	}

	.achs-crs-wrap {
		padding: 0 10000px;
		margin: 38px -10000px 0 -10000px;
		position: relative;
		@media @tablet {
			padding: 0;
			margin: 0;
			top: 19px;
		}
		button {
			background: transparent;
			height: 50px;
		}
		@media @mobile {
			button {
				width: 9px;
				height: 9px;
				background: black;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			//background: url('../../img/achs-grad.png');
			width: 100%;
			height: 9px;

			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
			opacity: 0.3;
		}
		.slick-slide {
			text-align: center;
		}
		img {
			margin: 59px auto 38px auto;
		}
		span {
			font-size: 14px;
			max-width: 175px;
			color: white;
			display: block;
			margin: 0 auto;
		}

		.achs-carouse {
			background: url('../../img/achs-grad.png') repeat-y top;
		}
		.slick-list {
			padding-bottom: 60px;
		}

		@media @mobile {
			padding-bottom: 130px;
			.slick-dots {
				bottom: 33px;
			}
		}
	}
}

.content_box {
	.title_box {
		margin-bottom: 17px;
		@media @tablet {
			margin-bottom: 35px;
		}
	}
}

.slick-next,
.slick-prev {
	//background: url('../img/btn_car_next.png') no-repeat;
	text-indent: -5000px;
	width: 60px;
	height: 60px;
	background: white;
	border-radius: 5px 0 0 5px;
	border: none;

	position: absolute;

	overflow: hidden;
	color: white;

	&:before {
		content: '';
		background: url('../../img/btn_car_next.png') no-repeat;
		width: 19px;
		height: 35px;
		display: block;
		margin: 12px auto 0 auto;
		background-position: 0 100%;
		background-size: 100%;
	}
}
.slick-next {
	right: 0;
	top: 40%;
}
.slick-prev {
	left: 0;
	top: 40%;
	z-index: 5;
	border-radius: 0 5px 5px 0;
	&:before {
		content: '';
		background: url('../../img/btn_car_ptev.png') no-repeat;
		background-position: 0 100%;
		background-size: 100%;
	}
}

.slick-dots {
	height: 9px;
	text-align: center;
	list-style: none;
	margin: 0;
	position: absolute;
	bottom: -17px;
	left: 20px;
	width: auto;
	li {
		line-height: 0;
		padding: 0;
		display: inline-block;
		margin-right: 29px;
		&.slick-active {
			button {
				background: #fd7f04;
			}
		}
		button {
			width: 9px;
			height: 9px;
			border-radius: 100%;
			text-indent: 5000px;
			border: none;
			box-shadow: none;
			background: black;
		}
	}
}

.popup-active {
	overflow: hidden;

	.simple-popup {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 25px auto 0 auto;
		width: 331px;
		border-radius: 5px;
		background: white;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
		z-index: 30;
		.inner {
			text-align: center;
			padding: 35px;
			h2 {
				font-size: 20px;
				text-transform: uppercase;
				color: #535561;
				margin-top: 0;
				padding-top: 0;
				padding-bottom: 0;
				margin-bottom: 50px;
			}
			img {
				margin-bottom: 24px;
			}
			strong {
				font-size: 16px;
				color: #e53935;
				margin-bottom: 14px;
				display: block;
			}
			p {
				margin-top: 0;
				padding-top: 0;
				font-size: 14px;
				line-height: 15px;
				color: #232327;
				margin-bottom: 47px;
				padding-bottom: 0;
			}
		}

		& + .shadow {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0,0,0, 0.5);
			z-index: 25;
		}
		.close {
			background: url('../../img/close-gray.png') no-repeat;
			width: 15px;
			height: 15px;
			position: absolute;
			top: 12px;
			right: 12px;
			opacity: 1;
		}
	}
}

.articles {
	margin-top: 2px;
	padding: 0 21px;
	@media @tablet {
		padding-left: 24px;
		padding-right: 24px;
	}
	.cap {
		margin-bottom: 42px;
		@media @tablet {
			text-indent: 5px;
		}
	}
	h4 {
		font-size: 35px;
		color: #1e1f24;
		font-weight: 400;
		display: inline-block;
		margin-top: 65px;
		margin-right: 29px;
		vertical-align: sub;
	}
	.col-md-4 {
		//padding: 0 50px 0 0;
		//padding: 0;
		//margin: 0 50px 0 0;
		//width: ~"calc(33.33333333% - 50px)";
		//width: ~"-webkit-calc(33.33333333% - 50px)";

		margin-bottom: 90px;
		@media @tablet {
			margin-bottom: 0;
		}
		&:nth-of-type(4) {
			//padding: 0 0 0 0;
			//margin: 0;
			//width: 33.33333333%;
		}
	}
	h6 {
		font-size: 20px;
		margin-top: 23px;
		font-weight: 600;
		color: #292a2f;
		margin-bottom: 13px;
		text-transform: uppercase;
	}
	p {
		font-size: 13px;
		font-weight: 300;
		color: #474e55;
	}
	img {
		width: 100%;
	}
	.inner {
		padding: 0 10000px;
		margin: 0 -10000px;
		background: white;
		@media @tablet {
			padding: 0;
			margin: 0;
		}
		@media @mobile {
			padding: 0 10000px;
			margin: 0 -10000px;
		}
	}
}

@tablet: ~"only screen and (min-width: 1px) and (max-width: 992px)";
@mobile: ~"only screen and (min-width: 0px) and (max-width: 767px)";

@media @tablet {
	.content_box {
		padding-bottom: 0;
		.title_box {
			padding-left: 14px;
			padding-right: 14px;
			padding-bottom: 12px;
			padding-top: 5px;
		}
	}
}

@media @mobile {
	.content_box {
		.title_box {
			margin-bottom: 8px;
		}
	}
}

