.study-masters {
	/**/
	.master-panel {
		position: relative;
		overflow: hidden;
		z-index: 10;
		height: 311px;
		.inner {
			position: relative;
			z-index: 5;
		}

		img {
			border-radius: 100%;
			width: 220px;
			height: 220px;
			box-shadow: 2px 0 16px rgba(44, 48, 53, 0.18);
			margin-top: 45px;
			margin-left: 45px;
			float: left;
		}

		.about {
			max-width: 200px;
			display: inline-block;
			margin-top: 100px;
			margin-left: 50px;
			padding: 0;
			.name {
				font-size: 30px;
				line-height: 30px;
				//text-transform: uppercase;
				color: white;
				font-weight: 600;
				display: block;
				margin-bottom: 28px;
			}
			.title {
				font-size: 16px;
				line-height: 17px;
				color: white;
				display: block;
			}
		}

		.master-menu {
			width: 50%;
			float: right;
			margin-top: 80px;
			.all-reviews,
			.work-album,
			.list,
			.stats {
				color: white;
				text-decoration: none;
				font-size: 16px;
				margin-bottom: 30px;
				height: 60px;
				
				.magic {
					display: inline-block;
					vertical-align: middle;
					height: 60px;
				}

				i {
					font-style: normal;
					display: inline-block;
					vertical-align: middle;
					width: 50%;

					.badge {
						border-radius: 0;
						color: rgba(255, 255, 255, 0.4);
						background: none;
						padding: 0;
						font-weight: 300;
						font-size: inherit;
						vertical-align: initial;
					}
				}
				&:before {
					width: 60px;
					height: 60px;
					display: inline-block;
					vertical-align: middle;
					float: left;
					clear: left;
					margin-right: 19px;
				}
			}
			.all-reviews {
				display: block;
				&:before {
					content: '';
					background: url('../../img/all-reviews.png') no-repeat;
				}
			}
			.work-album {
				display: block;
				&:before {
					content: '';
					background: url('../../img/work-albums.png') no-repeat;
				}
			}
			.list {
				display: block;
				&:before {
					content: '';
					background: url('../../img/lists.png') no-repeat;
				}
			}
			.stats {
				display: block;
				&:before {
					content: '';
					background: url('../../img/stats.png') no-repeat;
				}
			}
		}
	}

	.backg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: auto 500%;
		background-position: center;
		//-webkit-transform: ;
		//-moz-transform: ;
		//-ms-transform: ;
		//-o-transform: ;
		//transform: ;
		filter: blur(15px);
		-webkit-filter: blur(15px);
		-moz-filter: blur(15px);
		-ms-filter: blur(15px);
		-o-filter: blur(15px);
	}

	.mega-carousel {
		margin-top: 229px;

	}

	.crs-wrap {
		padding: 191px 10000px 0 10000px;
		margin: 0 -10000px;
		background: #292a2f;

		h3 {
			color: #fd7e01;
			font-size: 30px;
			padding-bottom: 34px;
			padding-top: 0;
		}
		p {
			font-weight: 300;
			font-size: 14px;
			line-height: 16px;
			color: white;
		}
		.btn_jobs {
			//color: white;
		}
	}
	.crs {
		.btn_jobs {
			float: right;
			margin-top: 10px;
		}
	}
	.achs {
		margin-top: 60px;
		img {
			margin-right: 40px;
		}
	}

	.float-block {
		position: relative;
		top: 125px; // only for desktop
		float: left; // only for desktop
		.decor {
			width: 107px;
			height: 107px;
			background: white;
			border-radius: 100%;
			box-shadow: 4px 0 12px rgba(44, 48, 53, 0.18);
			position: absolute;
			left: 61px;
			top: -30px;
			text-align: center;
			img {
				margin-top: 27px;
			}
		}
		h3 {
			position: relative; // only for desktop
			top: -17px; // only for desktop
			font-size: 30px;
			color: #fd7e01;
			padding-left: 212px;
			margin-top: 0;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 21px;
		}

		.inner {
			padding: 22px 22px 22px 216px;
			background: #fd7e01;
			.cap {
				margin-bottom: 8px;
				font-size: 22px;
				font-weight: 600;
				color: white;
				.price {

				}
			}
			.col-md-6 {
				color: white;
				padding-left: 0;
				position: relative;
				&:not(.lefty) {
					&:before {
						content: '';
						background: url('../../img/white-arrow.png') no-repeat;
						width: 26px;
						height: 26px;
						position: absolute;
						bottom: 9px;
						left: -42px;
					}

					&:first-of-type {

					}
				}
				&.lefty {

				}
				span {
					color: white;
				}
				.procent {
					float: left;
					font-size: 45px;
					font-weight: 600;
					line-height: 52px;
					&:after {
						content: '';
						width: 2px;
						height: 37px;
						background: white;
						display: inline-block;
						vertical-align: middle;
						position: relative;
						left: 14px;
						top: -5px;
					}
				}
				.wrap {
					font-weight: 600;
					font-size: 22px;
					text-transform: uppercase;
					padding-left: 95px;
					.title {
						font-size: 15px;
						font-weight: 300;
						display: block;
						text-transform: none;
					}
					.price {
						text-transform: none;
					}
				}
			}
		}
	}

	.achievement {
		position: relative;
		background: white;

		padding: 0 10000px;
		margin: 107px -10000px 0 -10000px;

		.inner {
			position: relative;
			border: 2px solid #e9edf0;
			padding-bottom: 56px;
		}

		.title-wrap {
			position: absolute;
			left: 210px;
			top: -108px;
			h2 {
				color: #fd7e01;
				font-size: 30px;
				text-transform: none;
			}
		}
		.achievements_cont {
			display: inline-block;
		}
		.achievements_cont ul li {
			padding-top: 47px;
		}

		.info-more {
			text-align: center;
			font-size: 14px;
			display: inline-block;
			vertical-align: top;
			text-transform: uppercase;
			margin-top: 42px;
			img {
				margin-top: 35px;
				margin-bottom: 25px;
			}
			.medium {
				font-size: 30px;
				line-height: 32px;
				display: block;
				color: black;
			}
		}

		.inf {
			float: left;
			margin-left: 70px;
			margin-top: 95px;
			margin-right: 16px;
			text-align: center;
			font-size: 14px;
			text-transform: uppercase;
			.big {
				color: #fd7e01;
				font-size: 50px;
				line-height: 52px;
				display: block;
				font-weight: 300;
			}
			.medium {
				color: #fd7e01;
				font-size: 30px;
				line-height: 32px;
				display: block;
				font-weight: 300;
			}
		}
		.img-wrap {
			position: absolute;
			left: 60px;
			top: -60px;
			width: 107px;
			height: 107px;
			background: white;
			border-radius: 100%;
			box-shadow: 3px 0 12px rgba(33, 42, 61, 0.17);
			text-align: center;
			img {
				margin-top: calc(50% - 19.5px);
				margin-top: -webkit-calc(50% - 19.5px);
			}
		}
	}

	.separated {
		margin-top: 105px;
		.col-md-6 {
			position: relative;
		}
		.controls {
			position: absolute;
			top: 23px;
			right: 37px;

			font-size: 22px;
			color: #d2d7db;
			font-weight: 300;
			.left {
				background: url('../../img/btn_sl_com_prev_hover.png') no-repeat;
				width: 19px;
				height: 35px;
				display: inline-block;
				cursor: pointer;
				padding: 0;
				float: left;
				background-size: 17px 30px;
			}
			.digits {
				display: inline-block;
				vertical-align: top;
				margin: 0 10px 0 14px;
			}
			.right {
				background: url('../../img/btn_sl_com_next_hover.png') no-repeat;
				width: 19px;
				height: 35px;
				display: inline-block;
				cursor: pointer;
				padding: 0;
				float: none;
				background-size: 17px 30px;
			}
		}
		.col-md-6 {
			& > div {
				background: white;
			}

			.subs {
				h5 {
					font-size: 25px;
					color: #ff8200;
					margin-top: 39px;
				}
				p {
					font-size: 16px;
					color: #494b4f;
				}
				.btn-orange {
					width: auto;
					display: inline-block;
					font-size: 18px;
					height: 46px;
					line-height: 46px;
					padding: 0 41px;
					margin-top: 0;
					vertical-align: top;
				}
				.btn-orange.white {
					font-size: 18px;
					margin-top: 0;
					height: 46px;
					line-height: 46px;
					padding: 0 41px;
				}
			}
		}
		.inner {
			position: relative;
			padding: 92px 63px 36px 63px;

			p {
				font-size: 13px;
				line-height: 14px;
				color: #1e1f24;
				padding-bottom: 35px;
			}
		}

		.name-wrap {
			img {
				float: left;
			}
			.name {
				display: block;
				font-size: 18px;
				color: #1e1f24;
				margin-left: 71px;
				line-height: 30px;
			}
			.date {
				display: block;
				font-size: 12px;
				color: rgba(0, 0, 0, 0.5);
				margin-left: 71px;
				line-height: 8px;
			}
		}

		.img-wrap {
			position: absolute;
			left: 60px;
			top: -60px;
			width: 107px;
			height: 107px;
			background: white;
			border-radius: 100%;
			box-shadow: 3px 0 12px rgba(33, 42, 61, 0.17);
			text-align: center;
			img {
				margin-top: calc(50% - 19.5px);
				margin-top: -webkit-calc(50% - 19.5px);
			}
		}

		.title-wrap {
			position: absolute;
			left: 210px;
			top: -108px;
			h2 {
				color: #fd7e01;
				font-size: 30px;
				text-transform: none;
			}
		}
	}

	.stats-summary {

		h3 {
			text-align: center;
			font-size: 44px;
			color: #56575c;
		}

		.inner {
			padding: 0 10000px;
			margin: 0 -10000px;
			background: white;
			.but-inner {
				text-align: center;
			}
			.btn-orange {
				font-size: 18px;
				margin-top: 64px;
				margin-bottom: 47px;
				margin-left: auto;
				margin-right: auto;
				height: 46px;
				line-height: 46px;
				padding: 0 41px;
			}
		}
	}

	.progress {
		margin-top: 13px;
		height: 17px;
		background: #d96e05;
		border-radius: 0;
		box-shadow: none;
		position: relative;
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
		&:before {
			content: '';
			width: 2px;
			height: 17px;
			background: #ff8200;
			position: absolute;
			left: ~"calc(50% - 2px)";
			left: ~"-webkit-calc(50% - 2px)";
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			height: 17px;
			vertical-align: top;
			width: 43%;
			background: #ffc400;
			box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
		}
	}

	.info {
		background: white;
		padding: 12.5px 20px;
		position: relative;
		border-radius: 5px;
		.close {
			position: absolute;
			top: 40%;
			right: 13px;
			background: url('../../img/gray-close-small.png') no-repeat;
			width: 13px;
			height: 13px;
			opacity: 1;
		}
		&:before {
			content: '';
			width: 61px;
			height: 57px;
			background: #292a2f url('../../img/icon_head_mess.png') no-repeat center;
			background-size: 20px 25px;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 5px 0 0 5px;
		}
		p {
			padding-bottom: 0;
			padding-left: 63px;
			font-size: 14px;
			line-height: 16px;
		}
	}

	.achs-crs-wrap {
		padding: 0 10000px;
		margin: 38px -10000px 0 -10000px;
		position: relative;
		button {
			background: transparent;
			height: 50px;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			//background: url('../../img/achs-grad.png');
			width: 100%;
			height: 9px;

			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
			opacity: 0.3;
		}
		.slick-slide {
			text-align: center;
		}
		img {
			margin: 59px auto 38px auto;
		}
		span {
			font-size: 14px;
			max-width: 175px;
			color: white;
			display: block;
			margin: 0 auto;
		}

		.achs-carouse {
			background: url('../../img/achs-grad.png') repeat-y top;
		}
		.slick-list {
			padding-bottom: 60px;
		}
	}
}

.content_box {
	.title_box {
		margin-bottom: 17px;
		//padding-bottom: 17px;
	}
}

.slick-next,
.slick-prev {
	//background: url('../img/btn_car_next.png') no-repeat;
	text-indent: -5000px;
	width: 60px;
	height: 60px;
	background: white;
	border-radius: 5px 0 0 5px;
	border: none;

	position: absolute;

	overflow: hidden;
	color: white;

	&:before {
		content: '';
		background: url('../../img/btn_car_next.png') no-repeat;
		width: 19px;
		height: 35px;
		display: block;
		margin: 12px auto 0 auto;
		background-position: 0 100%;
		background-size: 100%;
	}
}
.slick-next {
	right: 0;
	top: 40%;
}
.slick-prev {
	left: 0;
	top: 40%;
	z-index: 5;
	border-radius: 0 5px 5px 0;
	&:before {
		content: '';
		background: url('../../img/btn_car_ptev.png') no-repeat;
		background-position: 0 100%;
		background-size: 100%;
	}
}

.slick-dots {
	height: 9px;
	text-align: center;
	list-style: none;
	margin: 0;
	position: absolute;
	bottom: -17px;
	left: 20px;
	width: auto;
	li {
		line-height: 0;
		padding: 0;
		display: inline-block;
		margin-right: 29px;
		&.slick-active {
			button {
				background: #fd7f04;
			}
		}
		button {
			width: 9px;
			height: 9px;
			border-radius: 100%;
			text-indent: 5000px;
			border: none;
			box-shadow: none;
			background: black;
		}
	}
}

.popup-active {
	overflow: hidden;

	.simple-popup {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 25px auto 0 auto;
		width: 331px;
		border-radius: 5px;
		background: white;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
		z-index: 30;
		.inner {
			text-align: center;
			padding: 35px;
			h2 {
				font-size: 20px;
				text-transform: uppercase;
				color: #535561;
				margin-top: 0;
				padding-top: 0;
				padding-bottom: 0;
				margin-bottom: 50px;
			}
			img {
				margin-bottom: 24px;
			}
			strong {
				font-size: 16px;
				color: #e53935;
				margin-bottom: 14px;
				display: block;
			}
			p {
				margin-top: 0;
				padding-top: 0;
				font-size: 14px;
				line-height: 15px;
				color: #232327;
				margin-bottom: 47px;
				padding-bottom: 0;
			}
		}

		& + .shadow {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0,0,0, 0.5);
			z-index: 25;
		}
		.close {
			background: url('../../img/close-gray.png') no-repeat;
			width: 15px;
			height: 15px;
			position: absolute;
			top: 12px;
			right: 12px;
			opacity: 1;
		}
	}
}

.articles {
	margin-top: 2px;
	padding: 0 21px;
	.cap {
		margin-bottom: 42px;
	}
	h4 {
		font-size: 35px;
		color: #1e1f24;
		font-weight: 400;
		display: inline-block;
		margin-top: 65px;
		margin-right: 29px;
		vertical-align: sub;
	}
	.col-md-4 {
		//padding: 0 50px 0 0;
		//padding: 0;
		//margin: 0 50px 0 0;
		//width: ~"calc(33.33333333% - 50px)";
		//width: ~"-webkit-calc(33.33333333% - 50px)";

		margin-bottom: 90px;
		&:nth-of-type(4) {
			//padding: 0 0 0 0;
			//margin: 0;
			//width: 33.33333333%;
		}
	}
	h6 {
		font-size: 20px;
		margin-top: 23px;
		font-weight: 600;
		color: #292a2f;
		margin-bottom: 13px;
		text-transform: uppercase;
	}
	p {
		font-size: 13px;
		font-weight: 300;
		color: #474e55;
	}
	img {
		width: 100%;
	}
	.inner {
		padding: 0 10000px;
		margin: 0 -10000px;
		background: white;
	}
}