.fresh-comments .cap {
  border-bottom: 2px solid #ff9800;
  margin-bottom: 39px;
}
.fresh-comments .cap h3 {
  color: #1e1f24;
  font-size: 22px;
  margin-left: 22px;
  padding-bottom: 13px;
}
.fresh-comments .btn-orange.orange {
  background: #ff9800;
  float: left;
  width: auto;
  display: inline-block;
  font-size: 18px;
  height: 64px;
  line-height: 64px;
  padding: 0 41px;
  margin-top: 0;
  vertical-align: top;
  margin-left: 79px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.fresh-comments .btn-orange.gray {
  background: #a9aaac;
  float: left;
  width: auto;
  display: inline-block;
  font-size: 18px;
  height: 64px;
  line-height: 64px;
  padding: 0 41px;
  margin-top: 0;
  vertical-align: top;
  margin-left: 107px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.fresh-comments .btn-orange.gray + span {
  display: inline-block;
  margin-left: 44px;
  margin-top: 11px;
}
.fresh-comments .btn-orange.gray + span a {
  color: #ff9800;
  display: block;
}
.fresh-comments .controls:after {
  content: '';
  display: block;
  clear: both;
}
.fresh-comments .controls.text {
  padding-left: 26px;
}
.fresh-comments .controls .text-wrap {
  position: relative;
  margin-bottom: 11px;
  margin-left: 79px;
}
.fresh-comments .controls .text-wrap:before {
  content: '';
  background: url('../../img/xvoct2.png') no-repeat;
  width: 17px;
  height: 15px;
  position: absolute;
  top: calc(50% - 7.5px);
  top: -webkit-calc(50% - 7.5px);
  left: -16px;
}
.fresh-comments .controls textarea {
  min-height: 122px;
}
.fresh-comments .lenta .item {
  padding-left: 26px;
  display: inline-block;
  margin-bottom: 31px;
}
.fresh-comments .lenta .item:after {
  content: '';
  display: block;
  clear: both;
}
.fresh-comments .lenta .item img {
  float: left;
}
.fresh-comments .lenta .item .message {
  margin-left: 82px;
  border: 1px solid #e8e8ef;
  padding: 14px 20px;
  position: relative;
}
.fresh-comments .lenta .item .message:before {
  content: '';
  background: url('../../img/xvoct.png') no-repeat;
  width: 17px;
  height: 15px;
  position: absolute;
  top: calc(50% - 7.5px);
  top: -webkit-calc(50% - 7.5px);
  left: -16px;
}
.fresh-comments .lenta .item .message .name {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  display: block;
  margin-bottom: 5px;
}
.fresh-comments .lenta .item .message p {
  font-size: 13px;
  color: #5b5c63;
  line-height: 14px;
  padding: 0;
  margin-bottom: 5px;
}
.fresh-comments .lenta .item .message .date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .fresh-comments .controls {
    text-align: center;
  }
  .fresh-comments .btn-orange.gray + span {
    margin-top: 53px;
  }
  .fresh-comments .lenta .item {
    padding-left: 9px;
    padding-right: 9px;
  }
  .fresh-comments .lenta .item img {
    width: 35px;
    height: 35px;
  }
  .fresh-comments .lenta .item .message {
    margin-left: 47px;
    padding: 15px;
  }
  .fresh-comments .lenta .item .message .name {
    font-size: 14px;
  }
  .fresh-comments .lenta .item .message p {
    font-size: 12px;
  }
  .mobile-comment {
    background: #fd8c1d;
    padding: 0 8px;
  }
  .mobile-comment:after {
    content: '';
    display: block;
    clear: both;
  }
  .mobile-comment + .list_btn_coments {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: auto;
    margin: 0 -15px;
    padding: 0 0 0;
    display: block;
    list-style: none;
    font-size: 0;
  }
  .mobile-comment + .list_btn_coments li {
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    float: left;
    width: 33.3333%;
    border-top: 2px solid #ccd0d5;
    padding: 10px 15px 0;
    height: 80px;
    border-left: 2px solid #e9edf0;
  }
  .mobile-comment + .list_btn_coments li:first-of-type {
    border-left: none;
  }
  .mobile-comment + .list_btn_coments li a {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: #1e1f24;
    background: url(../../img/btn_coment.png) no-repeat 0 50%;
    padding: 35px 0 0;
    background-position: 50% 0;
    display: block;
    text-align: center;
    line-height: 14px;
  }
  .mobile-comment img {
    margin: 5px 0;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    border: 2px solid white;
    float: left;
  }
  .mobile-comment .dTypo {
    display: inline-block;
    margin-left: 8px !important;
    margin-top: 6px !important;
  }
  .mobile-comment input {
    width: 255px;
    height: 26px;
    line-height: 26px;
    box-shadow: none;
    background: white;
    border: none;
    border-radius: 3px;
  }
}
