@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .phone {
    display: none;
  }
  .notify {
    display: none;
  }
  .row.content .slide[data-index="1"] .inner {
    margin-left: 45px;
  }
  .row.content .slide[data-index="1"] ul {
    display: none;
  }
  .row.content .slide[data-index="2"] .inner {
    margin-left: 305px;
  }
  .row.content .slide[data-index="2"] .inner > h2 {
    margin-bottom: 20px;
  }
  .row.content .slide[data-index="2"] .inner p {
    margin-bottom: 25px;
  }
  .row.content .slide[data-index="2"] .slide-loader {
    margin-top: 35px;
    margin-left: 30px;
  }
  .row.content .slide[data-index="3"] .inner {
    margin-top: 115px;
    margin-left: 60px;
  }
  .row.content .slide[data-index="3"] .controls {
    left: 30px;
  }
  .row.content .slide[data-index="4"] .work-markers {
    float: none;
    width: 100%;
    text-align: center;
  }
  .row.content .slide[data-index="4"] .inner {
    margin-top: 20px;
    margin-left: 20px;
  }
  .row.portfolio .toggler .single {
    display: none;
  }
  .row.portfolio.rows .item .details {
    white-space: normal;
    padding-left: 20px;
  }
  .row.portfolio.rows .item .details .name {
    max-width: 450px;
  }
  .row.portfolio.grid .inner-item div.item {
    width: 33.333333%;
  }
  .row.about .slide[data-index="1"] .inner {
    margin-top: 5px;
    margin-left: 100px;
  }
  .row.about .inner {
    min-width: 0;
  }
  .row.about .short-info div:nth-child(4),
  .row.about .short-info div:nth-child(5) {
    display: none;
  }
  .row.about .short-info div {
    width: 33.333333%;
  }
  .row.about .awards {
    overflow: hidden;
  }
  .row.about .awards .slick-dots {
    list-style: none;
    margin-top: 55px;
    text-align: center;
  }
  .row.about .awards .slick-dots .slick-active button {
    opacity: 1;
  }
  .row.about .awards .slick-dots .slick-active button:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border: 2px solid;
    border-radius: 100%;
    top: -4px;
    left: -4px;
  }
  .row.about .awards .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 41px;
  }
  .row.about .awards .slick-dots li button {
    text-indent: 5000px;
    width: 10px;
    height: 12px;
    border: none;
    background: white;
    opacity: 0.5;
    position: relative;
    border-radius: 100%;
  }
  .row.about .form h4 {
    left: -20px;
  }
  .row.about .form h4:after {
    width: calc(50% - 175px);
    width: -webkit-calc(50% - 175px);
  }
  .row.about .form form {
    width: 307px;
  }
  .row.about .form textarea {
    margin-left: 0;
  }
  .row.about .form .stroke .single:last-of-type {
    overflow: hidden;
    width: 100%;
    background: rgba(255, 255, 255, 0.2) url('../images/icons/send.png') no-repeat 86px 50%;
    height: 60px;
    margin-top: 9px;
  }
  .row.about .form .stroke .single:last-of-type input {
    margin: 0 auto 0 auto;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    background: none;
    border: none;
    height: 60px;
    width: 100%;
    text-indent: 35px;
  }
  .row.news {
    position: relative;
  }
  .row.news .inner {
    width: calc(100% - 18px);
    width: -webkit-calc(100% - 18px);
    margin-left: 18px;
  }
  .row.news .right {
    clear: both;
    position: absolute;
    top: 0;
    right: 20px;
    float: none;
    width: auto;
    padding-top: 0;
  }
  .row.news .right ul {
    width: auto;
  }
  .row.news .right ul > li {
    margin-top: 18px;
  }
  .row.news .right ul > li > a {
    text-align: center;
    width: 110px;
    position: relative;
  }
  .row.news .right ul > li > a:hover:before {
    content: '';
    width: 107px;
    height: 4px;
    background: #fd5d2c;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
  .row.news .right ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }
  .row.news .right ul li.sel ul {
    display: block;
  }
  .row.news .right ul li ul {
    background: white;
    margin-top: 0;
  }
  .row.news .right ul li ul li {
    padding-left: 10px;
    margin-right: 0;
    display: block;
  }
  .row.news .right ul li:last-of-type {
    margin-right: 0;
  }
  .row.news .right ul li a {
    font-size: 18px;
    border-bottom: none;
  }
  .row.news .right ul li a:after {
    width: 5px;
    background-size: 100%;
    height: 10px;
    position: static;
    display: inline-block;
    margin-left: 9px;
    transform: rotate(90deg);
  }
  .row.news .right ul li .badge {
    display: none;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding5.result {
    min-height: 0;
    background-size: 50%;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding5.result h3 {
    font-size: 45px;
    padding-left: 55%;
    padding-top: 45px;
    margin-bottom: 25px;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding5.result p {
    font-size: 13px;
    padding-left: 55%;
    margin-bottom: 30px;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding5.result a {
    margin-left: 55%;
    font-size: 13px;
    padding: 12px 40px;
    margin-bottom: 40px;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding1 .eillips img {
    display: none;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding1 img {
    padding-left: 75px !important;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding2 {
    min-height: 685px;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding2 .first,
  .row.content-work .slide[data-index="3"] + div.rest .padding2 .second {
    width: 30px !important;
    font-size: 15.4px !important;
    line-height: 31px !important;
    height: 30px !important;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding2 .lefty {
    width: 100% !important;
    position: absolute !important;
    top: 325px;
    left: 0;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding2 .lefty span {
    width: 49%;
    display: inline-block !important;
    vertical-align: top;
    padding-right: 0 !important;
    padding-left: 140px !important;
    margin: 0;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding2 .lefty span i {
    left: 79px !important;
  }
  .row.content-work .slide[data-index="3"] + div.rest .padding2 .righty {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    padding-left: 250px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .row.about .slide.about-info .inner {
    margin-top: 5px;
    margin-left: 100px;
    min-width: 550px;
    max-width: 600px;
  }
}
