.footer .form-control {
	height: 23px;
	line-height: 23px;
	padding: 5px 7.5px;
}
form {
	.form-control {
		height: 41px;
	}
	.btn {
		margin-top: 0 !important;
	}
}

@media all and (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

.troubles {
	.list-inline {
		margin-bottom: 25px;
	}
}
.list-inline a {
	font-size: 14px;
}

.header {
	.list-inline {
		li {
			margin-top: 5px;
			font-size: 16px;
		}
	}
	.geo {
		.chosen-container {
			float: right;
			margin-top: 5px;
		}
	}
}

//
.manufactory {
	.well,
	.media {
		margin-top: 0;
		h4 {
			max-width: 70%;
			display: inline-block;
		}
		.raiting-wrap {
			float: right;
			.raiting {
				font-size: 20px;
			}
			a {
				display: block;
			}
		}
	}
	.raiting{
		font-size:40px;
		color: #fff;
	}
	.raiting:hover{
		color:#FFEA16;
		-webkit-transition: color 0.7s ease-out;
		-moz-transition: color 0.7s ease-out;
		-o-transition: color 0.7s ease-out;
		transition: color 0.7s ease-out;
		cursor: pointer;
	}
	.portfolio-filter {
		margin-top: 0;
		display: inline-block;
	}
	.chosen-container {
		vertical-align: top !important;
		float: right;
		width: 120px !important;
	}
	.filter {
		h2:first-of-type {
			margin-top: 0;
		}
		& > div:first-of-type {
			.chosen-container {
				margin-bottom: 0;
			}
		}
		.chosen-container {
			&:first-of-type {
				& + label {
					margin-top: 5px;
					input {
						margin-top: 3px;
						vertical-align: text-top;
					}
				}
			}
			width: 100% !important;
			margin-bottom: 10px;
		}
	}
}

//
.personal {
	.bottom {
		margin-bottom: 25px;
	}
	form {
		width: 80%;
	}
	.widget.categories {
		//padding-top: 0;
	}
}

.chosen-container-single .chosen-single {
	height: 42px !important;
	line-height: 42px !important;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 12px !important;
}
.chosen-container-single .chosen-single div b {
	background-position: 0 12px !important;
}
.retrieve {
	position: absolute;
	right: 0;
	top: 0;
}

.payment {
	.main {
		text-align: center;
		.payments {
			display: inline-block;
		}
	}
}
table.troubles {
	td {
		&:first-of-type {
			//padding-left: 0;
		}
		vertical-align: middle !important;
	}
}
.ph {
	display: inline-block;
	width: 100%;
	img {
		display: inline-block;
		vertical-align: top;
		margin-right: 13.6px;
		&:last-of-type {
			margin-right: 0;
		}
	}
}
.custom {
	button {
		margin-top: 25px;
	}
	label {
		display: block;
	}
	.chosen-container {
		width: 200px !important;
	}
	input {
		margin-bottom: 10px;
	}
}

.page-title-wrapper {
	.raiting {
		font-size: 20px;
		& + a {
			color: white;
			font-size: 12px;
		}
	}
}
.reviews {
	h5 {
		display: inline-block;
		margin-right: 10px;
	}
}
.manufactory-item {
	.media-body {
		position: relative;
		p {
			position: absolute;
			bottom: 0;
			left: 0;
			margin-bottom: 0;
		}
	}
	.zaya {
		h5 {
			margin-top: 8px;
		}
	}
	.well {

	}
	.top {
		margin-bottom: 25px;
		h4 {
			display: inline-block;
			margin-right: 15px;
		}
		.chosen-container {
			width: 150px !important;
			margin: 0 10px 0 0;
		}
	}
}
// crud
.crud {
	.top {
		.chosen-container {
			width: 150px !important;
		}
		a.btn {
			width: 15%;
			float: right;
		}
	}
	.left {
		display: inline-block;
		vertical-align: top;
	}
	.right {
		display: inline-block;
		margin-left: 20px;
		width: 50%;
	}
}

//balance
.balance {
	form {
		input[type="text"] {
			width: 25%;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

table {
	.btn {
		padding: 7px 8px;
	}
}

.short {
	margin-bottom: 10px;
	input {
		width: 80%;
		display: inline-block;
		vertical-align: middle;
	}
	input + button {
		margin-top: 2.5px;
		float: right;
	}
}

.search-form-service {
	.col-xs-1-5:last-of-type {
		text-align: right;
	}
	.chosen-container {
		width: 100% !important;
	}
}

.navbar-nav {
	display: none !important;
}

.navbar {
	h2 {
		font-size: 22px;
		display: inline-block;
		margin-top: 37px;
		& + a {
			float: right;
			margin-top: 42px;
		}
	}
}

// yandex map
.yandex-map {
	padding: 0;
}

// CUSTOM addon for bootstrap GRID, 5 columns in a row, TABASOV
.col-xs-1-5 {
	width: 20%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;

	li:first-of-type {
		list-style-type: none;
	}
}

@media (min-width: 768px) {
	.col-sm-1-5 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
}

footer {
	h5 {
		display: inline-block;
	}
	.col-xs-3 {
		text-align: center;
	}
	.teaser {
		a {
			display: block;
		}
	}

	.teaser2 {
		.soc {
			white-space: nowrap;
			ul {
				float: none;
			}
		}
	}
}

.auth {
	.top {
		margin-top: 15px;
	}
	.col-md-6 {
		float: none;
	}
	.well {

	}
}
.balance {
	.button {
		label {
			cursor: pointer;
		}
		[type="radio"] {
			vertical-align: sub;
		}
		img {
			margin: 15px auto 0 auto;
			width: 90%;
		}
		float: left;
		width: 150px;
		height: 150px;
		margin-right: 10px;
		padding: 25px 0 0;
		font-size: 12px;
		line-height: 1;
		text-align: center;
		border: 0;
		border-radius: 3px;
		box-shadow: inset 0 0 0 1px #bbb;
	}

	.button:last-child {
		margin-right: 0;
	}

	.button:after {
		top: 15px;
		left: 40px;
	}

	.payments {
		.btn {
			margin-top: 35px;
			width: 200px;
		}
	}

}

